[2015-12-04 02:29] brock opened #2 "global help menu"
Really digging this repo @amwmedia The final paragraph of the README is spot on. Some thoughts:

Since I'm installing this globally, there are a few things that could be really handy...

* `plop help` or `plop --help`
* `plog init` to generate a simple `plopfile.js` in a directory. I'd envision this with some boilerplate like the `addHelper` and `setGenerator`.

If you have any opinions on how tha

[2015-12-04 04:32] amwmedia commented on #2
Hey Brock (love that name BTW),

I think plop could probably benefit from an init option. And I think having an init option would probably make the help option more important. I think we'd need to use `--help` because `plop help` with the current setup would look for a generator called "help". Though I suppose the code could simply show the help screen for `plop help` if it fails to find a help ge

[2015-12-05 02:52] brock commented on #2
sounds good. I've got something started that we can play around with, but it is still buggy. It isn't ready for a pull request yet, but here is the branch if you'd like to have a look.

https://github.com/brock/plop/tree/help

[2015-12-05 04:55] brock commented on #2
Okay, I think I've got a good working version now, so I'm going to open a pull request. Having said that, I was really just plowing through towards a working version, so it might help to have other folks take a look at this since commander is essentially taking over the logic, and there may still be some refactoring we could do. A job for tomorrow. :)

[2015-12-05 17:00] amwmedia commented on #2
Thanks! I'll try to take a look at this soon.

[2015-12-07 23:51] kentcdodds opened #5 "Add PWD option for `path`"
Maybe this is possible but after looking at the docs and some of the code I don't think so. I want to be able to navigate to a folder and generate some files there rather than having the `path` be relative to the `plopfile.js` file, I'd rather have the `path` be relative to where the command is executed. Right now, I can accomplish this by generating the `path` like this:

[code]

But I'd much rat

[2015-12-08 04:28] amwmedia commented on #5
Hey Kent, interesting idea. What is the use case where you believe this would be especially useful? In every case I've come across so far, I've found it better to build the generator so that everything it needs to execute comes from the questions asked. That way the developer doesn't need to know whether or not the CWD is important for THIS generator vs another one.

This would technically be pret

[2015-12-08 14:27] kentcdodds commented on #5
I like the helper idea. I understand what you mean by allowing the user to provide everything that's needed for the generator. Is there a way with the prompts to provide default values? In that scenario, I could prompt the user for the path they'd like but have it default to the current working directory. I think I'd be happy with that solution if it's possible :-)

[2015-12-08 14:28] kentcdodds commented on #5
Looks like that's possible. I'll close this for now. Thanks! https://www.npmjs.com/package/inquirer#question

[2015-12-08 14:28] #5 closed

[2015-12-08 21:56] kentcdodds opened #6 "Add `addPartial` method"
I have a use case for this capability. I've tried requiring handlebars myself and adding the partial that way but that doesn't appear to register it with the instance being used by plop somehow because I get an error that my partial could not be found.

[2015-12-08 23:23] kentcdodds opened #7 "Testing example?"
While building these things, I'm finding that it would be really nice to be able to run some tests rather than having to test in manually. Do you think we could develop a good way to do that? Even if it's just some examples that would be handy. But being able to assert files were created and their contents without actually creating them would be really helpful.

[2015-12-09 01:38] amwmedia commented on #6
Yeah, makes sense, this should be pretty easy to do. I'll try to get the pass through function in there soon.

[2015-12-09 01:40] amwmedia commented on #7
Agreed! This would be really nice. I would need to give some thought to how something like this could be implemented.

[2015-12-09 05:17] amwmedia commented on #7
Not sure there can be a full solution for this. With the functionality of modify, and custom actions, I can think of no way to validate what a generator does in a sandboxed test environment. You would need some sort of virtual file system that can be constructed and throw away. Let me know if you have any ideas.

[2015-12-09 05:19] kentcdodds commented on #7
How about [memfs](https://www.npmjs.com/package/memfs)? :-)

[2015-12-09 05:24] amwmedia commented on #7
of course! why wouldn't there be a node module that does exactly what we need! ;-) I need to do a little reading. I haven't used an in-memory virtual file system before. any chance you happen to be an expert in this area?

[2015-12-09 05:27] amwmedia commented on #7
oooo, [mock-fs](https://github.com/tschaub/mock-fs) might do the trick

[2015-12-09 05:28] kentcdodds commented on #7
Never done it before myself.

[2015-12-09 13:46] #6 closed

[2015-12-09 14:19] EladBezalel opened #8 "Enable es6 for plopfile logic without transpilation"
I wanted to use plop with es6 but i couldn't,
[Liftoff](https://github.com/js-cli/js-liftoff) is exactly what you need for this project.

[2015-12-09 14:33] kentcdodds commented on #8
Liftoff looks interesting... But it's not necessary. I just use the babel-register require hook and all my stuff can be in ES6

[2015-12-09 14:51] amwmedia commented on #8
actually, I just looked into this a bit, and I believe it's as simple as adding --harmony to the top of the main node package. So this will be coming very soon! Thanks for raising this @EladBezalel. I'll also be looking into Liftoff and whether that would be beneficial.

[2015-12-09 15:00] kentcdodds commented on #6
Thanks :clap:

[2015-12-09 15:15] EladBezalel commented on #8
Np happy to help :+1:

[2015-12-09 16:35] EladBezalel commented on #8
I also use babel-register, but it's just a polyfill, using liftoff will enable any compiler usage.

[2015-12-09 16:35] EladBezalel commented on #8
(Accidentally closed :sweat_smile: )

[2015-12-09 17:23] amwmedia commented on #2
i think the ideal would be something like:

 - plop would bring up the list of generators if a plopfile is found, otherwise the "no plopfile found" message and help
 - plop -h or plop --help would bring up the help menu
 - plop -i or plop --init would kick off an inquirer based process that would generate a plopfile in the current directory. This process would allow the developer to select what sh

[2015-12-09 18:55] amwmedia commented on #8
@kentcdodds I was looking more into the babel-register require hook. Do you see any downside to just adding this to the codebase itself? I like that it uses babel, which is a little more of a known entity than the --harmony flag. any thoughts on the matter?

[2015-12-09 19:45] kentcdodds commented on #8
I think that the best solution would be to do what gulp and webpack do. Not sure how they accomplish it, but if you have a `webpack.config.babel.js` file rather than `webpack.config.js` it'll transpile your config with babel. So you could first look for a `plopfile.babel.js` and if it's there, require the `require('babel-register')` hook perhaps?

[2015-12-09 19:55] EladBezalel commented on #8
Gulp uses liftoff :smile:

[2015-12-09 20:29] amwmedia commented on #8
ok, so, time to go back and look at the liftoff examples again. @EladBezalel care to submit a pull request? ;-)

[2015-12-09 20:46] EladBezalel commented on #8
Ill do my best to assemble a proper PR as soon as i can :smile:

[2015-12-10 19:10] kentcdodds opened #10 "Extract template language and data gathering"
I think that it'd make this utility more powerful if both inquirer and handlebars integration were extracted to plugins to make this utility pluggable. That would allow me to provide my own template compiler and data gatherer. It would also allow for customizing these things without having to make plop expose APIs for these things explicitly. Thoughts?

[2015-12-10 19:21] amwmedia commented on #10
I could see the benefit to using another template engine, but what other types of data gatherers would you envision being useful? My initial feeling is that if you need something THAT custom, you could just write a custom node script that would do the job.

[2015-12-10 19:26] kentcdodds commented on #10
Perhaps you're right. Honestly the only use case I had when I initially thought of this was when plop didn't support partials and I wanted to add one, there was no way to do this. Now that it supports that I don't have a use case for this capability.

At the same time I could definitely see that some people may wish to utilize plop with a different template engine. As for the data gathering tool,

[2015-12-10 19:46] amwmedia commented on #10
yeah, I've tried to do that a little recently with [custom action functions](https://github.com/amwmedia/plop#custom-action-function) which really open up a lot of possibilities for the JS guru. It would be nice to have an extension point on the input side too, but I think maybe an inquirer addPrompt function may fit the bill.

I like the idea of making things pluggable, but I also want to keep th

[2015-12-10 20:05] kentcdodds commented on #10
Personally I think that it can be pluggable **and** simple(r) but it's your project (and thank you for it!)

[2015-12-11 18:24] amwmedia commented on #10
possibly, if you think of a simple way to do it let me know. I guess I'm not really sure what benefit it would provide. inquirer and handlebars are both pretty pluggable, so I'm not sure what else you might need. I'm sure there are things I'm just not thinking of.

[2015-12-15 13:08] #8 closed

[2015-12-16 18:50] brock opened #14 "Is it possible to modify "data"?"
Is it possible to modify the `data` or `answers` object after prompts?

Here is the general idea:

* A generator asks the user to select one of the Mongoose Schema models from the directory - this part works.
* I require the schema, then parse out the schema paths - this also works.
* I'd like to modify the `data` object that is passed to my jade templates so that I can do something like: `for eac

[2015-12-16 19:58] amwmedia commented on #14
yes, this can be accomplished via an [custom action function](https://github.com/amwmedia/plop#custom-action-function). this would allow you to execute logic that could add additional properties to the answers object before your other actions happen.

[2015-12-16 19:58] #14 closed

[2015-12-16 21:46] brock commented on #14
Many thanks - that did the trick!

[2016-01-06 20:43] inyono opened #15 "Dynamic templateFile"
In the prompts, I have

[code]

and in the actions

[code]

But when I run the generator, I get an `ENOENT`:

[code]

i.e. `{{ type }}` will not be replaced.

[2016-01-07 04:52] amwmedia commented on #15
that's correct, currently the templateFile is not processed by handlebars. I see now from your example how this could be helpful. Currently the way you would do this is by making the actions array, a function that returns an array. This is explained in the README under [using and actions function](https://github.com/amwmedia/plop#using-an-actions-function). I'll probably be renaming this soon, but

[2016-01-07 05:19] inyono commented on #15
Cool, thanks for the answer :+1: Feel free to close this issue if it isn't relevant to you.

[2016-01-07 13:19] amwmedia commented on #15
if others see benefit to making templateFile a handlebars template, I'll consider doing that. My main reason for not doing it thus far is that it opens the generator up to lots of possible poor configurations. For instance if someone wrote a generator that used free text input from the user to construct the path, it would be pretty brittle. I'll give it some more consideration.

[2016-01-09 18:37] brock opened #16 "Forcing the creation of files"
I'd like to be able to run a plopfile add action and overwrite the existing files. I've tried setting `abortOnFail` to false without any luck. I imagine I can delete the existing files in my custom action, but am curious if there is already a built-in way to do this. I couldn't find docs for `abortOnFail`.

Edit: this is specifically for use with the add function.

[2016-01-11 03:55] amwmedia commented on #16
yes, i need to add some documentation to the README about abortOnFail. Basically, if true, is says "if this step fails, don't execute anything further, just fail everything because I failed."

To answer your question. I suppose you could use a modify task and have the regex select the entire contents of the file for replacement. I've never personally tried it, but it should work.

I wouldn't want

[2016-01-11 03:55] #16 closed

[2016-01-21 15:59] manuelbieh opened #18 "Adding actions conditionally depending on previous answers"
I haven't found it in the example file or in the readme so I'm not sure if that is already possible. If not, I would like to file a feature request here ;)

I am using plop to create a json configuration which can contain a `selector` property with an array as value which is freely expandable and can hold 1-n items. In my case it's a css selector. I have now created an action to add a new css sele

[2016-01-22 03:35] amwmedia commented on #18
Yeah, I believe this would be solved via an inquirer plugin. At least the way you are envisioning it. You could alternatively have the user type out a comma delimited list of classes they want added and process that data via a custom action function.

[2016-01-22 03:39] amwmedia commented on #18
sounds like what you really want is an inquirer plugin that would accept multiple prompt definitions and loop over them until the user was finished. Something like this could create an array of answer objects that would live in the main answer object. If you want to write such a plugin, I'd be happy to feature it in the [custom inquirer prompts](https://github.com/amwmedia/plop/blob/master/inquire

[2016-01-22 12:23] datwheat opened #19 "Question"
I was wondering: what terminal emulator is running in your screenshot gif in the readme?

Thanks

[2016-01-22 12:53] amwmedia commented on #19
I use [fish shell](http://fishshell.com/) with [iterm2](https://www.iterm2.com). The color scheme is seti from the [iTerm2-Color-Schemes](https://github.com/mbadolato/iTerm2-Color-Schemes) repo, and I use the [hack](http://sourcefoundry.org/hack/) font (which includes the powerline glyphs).

[2016-01-22 12:53] #19 closed

[2016-01-22 12:53] #18 closed

[2016-02-07 14:48] #2 closed

[2016-02-11 08:34] davidtaboas opened #20 "Download template from github/git repo?"
It's possible get the templates from a git repository?

[2016-02-11 13:08] amwmedia commented on #20
is your main goal to have multiple projects use the same plop generators and templates? If so I think @nicksrandall was doing this by publishing them as an npm module. Maybe he would be kind enough to share how that approach worked for him :smile:

[2016-02-17 16:04] bsr203 commented on #5
hi @kentcdodds I too like to have this behavior and is there any of your public repo contains this implementation? else, can you please share the snippets to enable this?

[2016-02-17 16:06] kentcdodds commented on #5
Unfortunately no, and I no longer have access to that repo. But @TheMcMurder does. Maybe he'd be willing to share a code snippet.

[2016-02-17 16:08] bsr203 commented on #5
thanks @kentcdodds for quick response

[2016-02-17 18:18] amwmedia commented on #5
@bsr203 you might want to take a look at [inquierer-directory](https://github.com/nicksrandall/inquirer-directory) by @nicksrandall. it doesn't do exactly this, but it's a very nice way to pick a specific directory

[2016-02-17 18:24] nicksrandall commented on #20
@davidtaboas Sorry for the delayed response. Yes, I did this by publishing my plop code as a (private) npm module. Then in each of my projects, my `plopfile.js` looks something like this:

[code]

and that's it!

[2016-02-18 01:33] raabbajam opened #21 "Generate multiple files using * (glob)"
This is a feature request, to generate multiple files in one action. Something like generate `src/modules/{{lowerCase name}}/*.js` from templates in `plop-templates/modules/*.js` using the asterisk / glob (*).

e.g `plop-templates` folder

[code]

And then in `plopfile.js`:

[code]

and command `plop module foo` will generate:

[code]

Your great works are much appreciated. Cheers :coffee:

[2016-02-18 02:10] amwmedia commented on #20
@davidtaboas the short answer to your question is no, plop doesn't support dynamically downloading templates when you trigger plop. However if you're looking to centralize your generators for use on multiple projects, there's a pretty nice solution to be had with npm ;-)

[2016-02-18 02:10] #20 closed

[2016-02-18 20:33] amwmedia commented on #21
interesting idea, how would you see this working with a glob like `src/modules/{{lowerCase name}}/**/*`? I think you would have trouble reconciling the 2 globs and figuring out what to do. With a glob you almost need a destination folder to just dump everything into.

[2016-02-18 20:36] amwmedia commented on #21
this might work with a different action name. Something like `addMany` that could take a `templateFiles` glob and use a `destination` property instead of `path`. Then you could just process all of templates and dump them into the destination folder.

[2016-02-20 02:33] andrewjensen opened #22 "Run plop from Node"
I'm on a team that uses a somewhat complex plopfile and I'd like to have a quick way to verify that it is working the way we want. I would love to be able to `require('plop')` and automatically generate some components with defaults.

The interface for my script might look something like this:

[code]

@kentcdodds this might be a good way to verify your plopfile settings, as an alternative to #7.

[2016-02-20 08:35] kevin-wolf opened #23 "May be create a more "shareable" ecosystem for plop?"
I just met plop. And I am _in love_ with it.

**Why I choose Plop over Yeoman**?
Because it is composable, I can set a project by calling some third party _plops_ (#20) and also add my owns, right on this way:

[code]

So my proposal is: why not creating a website for Plop? And may be list the community created Plops?

Cheers :).

[2016-02-20 17:43] mxstbr commented on #23
:+1: I agree, plop is awesome and this would greatly help make it seem more professional and polished.

We're going to use it for [react-boilerplate v3](https://github.com/mxstbr/react-boilerplate/tree/v3.0.0), and I'd love to showcase it a bit in the documentation because I think it's awesome.

[2016-02-20 18:28] amwmedia commented on #23
Agreed! I've been thinking about how best to do something like this. The main challenge is finding a way to do it that preserves the simplicity and customizability of plop. Maybe just being able to modify the generators in your own code after they are required is enough. So if the `required` generator has a `path` of `/app/components/{{ camelCase name }}.js`, you would be able to change that to ma

[2016-02-20 18:37] amwmedia commented on #22
I'll look into this, if it could be coded to return the output you could then run asserts against the generated output. That could be really sweet. good idea! :+1:

[2016-02-20 18:52] amwmedia commented on #22
come to think of it, this could work for `add` actions, but in order to do this for an entire generator we would need to implement a virtual file system. this is possible, but would not be a trivial change. :frowning: Maybe something like this could be done at the individual action level? Not sure, but I'm open to ideas.

[2016-02-20 19:15] mxstbr commented on #23
Maybe making `setGenerator` return a callback that accepts options would make usage nice, something like this:

[code]

which would allow you to use it like this to pass your desired path for the component generator like so:

[code]

This is a very flexible solution, as generator authors could have you customize everything they want you to customize, since they dictate which options they accept an

[2016-02-20 20:57] kevin-wolf commented on #23
Or may be a way to set configuration into the `plop` object, something like this:

[code]

[2016-02-20 23:06] mxstbr commented on #23
Yeah that could work too and would probably require less rewriting!

[2016-02-21 04:38] amwmedia commented on #23
I think a combination of the 2 might work out nicely. What if we changed the plopfile interface to optionally accept a config object for that file? In the case of shared generators, they could be developed and distributed in a more granular fashion which would allow users to mix and match. Then each module developer could create their own interface for that config file and basically provide a way

[2016-02-22 02:29] andrewjensen commented on #22
To be honest, I'm actually more interested in just using the normal filesystem but through a Node API rather than a command line interface. It looks like if we could decouple the template generating logic from the inquirer prompts, it would come relatively easily.

[2016-02-22 03:20] amwmedia commented on #22
true, I think that much is doable, but it wouldn't function all that well for unit testing if it's actually mucking with your source code. Do you have something in mind for how you're planning to handle this? I'm more curious than anything :smile:

[2016-02-23 00:29] kevin-wolf opened #24 "Call generator within another generator"
Let's say I have the following generators:

- module
- model
- view
- controller

I want the `module` generator to internally call `model`, `view` and `controller` generators.

Is there an API method to achieve this?

Cheers.

[2016-02-23 01:19] amwmedia commented on #24
currently there is no way to run a generator outside of running the CLI. Are you looking to trigger the entire `prompts => actions` process, or just the actions?

[2016-02-23 01:25] kevin-wolf commented on #24
Just the actions. I know that I can declare the function and call them, like this:

[code]

But i find that approach a little verbose, what if I have separate generator files? (Ex `module.js`, `model.js`), I will have to export the functions, etc.

It will be fine an API method like this:

[code]

[2016-02-23 01:38] amwmedia commented on #24
you could use the `plop.getGenerator(name)` api method to get the generator config object, then concat the `actions` array from there. But yeah, I see what you mean. I'm going to be working on exposing something like this for issue #22. So once that gets resolved it would probably work for this.

[2016-02-23 01:52] kevin-wolf commented on #24
Excellent! You can close the issue then.

[2016-02-24 00:11] andrewjensen commented on #22
I think you're right - adding a Node API probably wouldn't be useful for unit testing. For my current needs, I basically need a way to call plop in a script for quick-and-dirty verification that the generators look right.

A little background about my use case: my team works on small Angular apps and uses a common plopfile packaged into a node module so we can maintain a consistent structure on ea

[2016-02-26 05:10] amwmedia commented on #22
I've been giving this some thought, and my plan is to break the core of plop out into a new npm package that plop would require. That would enable much of what I think you're trying to achieve, and also make it possible to work with plopfiles and generators in other ways. Just FYI, I'm currently working on a website for plop so this will have to wait for a bit. Hopefully I'll be able to get to it

[2016-04-21 10:48] NetanelBasal opened #25 "Support for one time configuration"
If I want to give the user, for example, to choose which css preprocessor he preferred sass/less/stylus ( for the file extension ) and I need to save this somewhere for not asking him again every time, There is a way to do that?

[2016-04-21 18:55] amwmedia commented on #25
I'm working on a way to let plop do a one time setup of an entire codebase. So this would allow a user to clone your repo, run plop and answer some questions, then plop would make the appropriate changes to the codebase to customize it. This is not in place yet, but it is definitely on the roadmap along with sharable plop "packs" that would allow you to publish a set of generators that others coul

[2016-04-21 21:02] NetanelBasal commented on #25
Yes, thank you.

[2016-04-21 21:02] #25 closed

[2016-05-20 17:27] marsh73 opened #28 "Skip prompt if name argument supplied"
ie ( 'plop component myComp' ), given that I have a generator named 'component', I would like to skip the prompt for name if the their is a name argument passed in. I am able to access the argument via this.process.argv[3], but it seems I can't use 'prompts' property as a function, so I am unable to add any conditional logic here as I can with actions. Is there an easier way to do this?

[2016-05-23 10:33] prbaron commented on #14
is it possible to do it in the prompt ?

For example, I would like the user to be able to create a directory and the file names can either have the directory name or another one.

here is what I would like to do
1. ask for the directory path  -> "where do you want to place the component ? (ex:foo/bar)"
2. ask for the file names -> "What is the comoponent name ?"

and in the 2. I would like to be a

[2016-05-23 10:39] prbaron commented on #14
found it, you have to use [default](https://www.npmjs.com/package/inquirer) and you can have access to already defined answers.

[2016-05-23 14:13] amwmedia commented on #14
good find 👍

[2016-05-23 14:17] amwmedia commented on #28
hmm, there might be a case for making prompts able to handle being a function as well (like actions). But let me give this a little more thought, there might be a better way to fully support this type of workflow. I've often thought that it would be nice to just write `plop component someName` but it really only makes sense if you have a lot of generators with only 1 prompt.

[2016-06-10 07:29] fleed opened #30 "Pass custom json to actions"
Is there an easy way to pass custom json objects to actions?
The scenario: I'd like to define a metadata json structure and pass it to generators to populate files (and templates) accordingly.
I'd also need to let data flow (specifically, array items) from one generator to another.

[2016-06-10 11:58] amwmedia commented on #30
so when you run a plop generator... you want to type json into the console? I'm not sure I understand the want here.

[2016-06-10 12:31] fleed commented on #30
Sorry, I should have specified it better.
I'm expecting to load data from a json file which is "side-by-side" with templates.
I'm able to do it with yeoman, but I prefer the plop approach that keeps data and templates together with my source code.

[2016-06-10 12:45] amwmedia commented on #30
interesting feature, so this would allow you to have a template that renders differently depending on the json data that is next to it I guess?

plop doesn't currently support this, but it sound like it could be worth adding. 😄

[2016-06-10 17:55] fleed commented on #30
Happy to hear that you'll consider it!
A little bit more context: I'm a C# developer and I was convinced (and I proved it) that 60% of our code had patterns perfect for code generation or, if you wish, "continuous scaffolding".
I've defined a metadata small file and used Microsoft T4 to "continuously scaffold" entities (POCO objects), object mappers, data layer, (WCF) data services, etc.. When I f

[2016-06-10 18:19] amwmedia commented on #30
I see, it sounds like what you want to do could be pretty easily achieved with node-plop once I finish it. I've got a version that's pretty close to ready, but not quite there yet. It basically take the core functions of plop, and makes them usable from a node script. So you should be able to code up something like what you want to do in a custom node script and let node-plop take care of the heav

[2016-06-10 18:21] fleed commented on #30
Sounds very powerful.. Thanks!

[2016-06-15 21:36] fleed opened #31 "foreach and other advanced tempting features"
Is it possible to use statements (foreach, if, etc.) in templates?
If not:
- is it planned for future releases?
- any workaround?

[2016-06-15 22:49] amwmedia commented on #31
yes! plop uses the handlebars template engine and [has all of these features](http://handlebarsjs.com/builtin_helpers.html), plus the ability to add custom features if you so desire. You can learn more on [their website](http://handlebarsjs.com).

[2016-06-15 22:49] #31 closed

[2016-06-23 16:59] fleed opened #32 "Replace existing files"
Is it possible to force the replacement of existing files?
That's required when running the generator after changes (example: template updated)

[2016-06-23 21:29] amwmedia commented on #32
well, if you run this after a template update, you would replace the files in their entirety. Which means you would loose any updates you made (the unique stuff) that was in them. I think the risk of overwriting an existing module that you didn't realize was already there, is pretty important here. I have (several times actually) tried to plop a helper that another team member had already plopped

[2016-06-24 13:36] fleed commented on #32
I think that by default it should prompt the user for choices like the "ng init" command (overwrite, skip, show difference), but there should also be a "force" flag if the user wants to replace all files.

[2016-06-24 13:38] amwmedia commented on #32
agreed that plop should prompt the user, I'm re-opening as a reminder to add this feature

[2016-07-26 11:53] adrianmroz opened #33 "Modify action for json files"
My proposition is to add a modify action for JSON files, where you will provide callback instead of pattern and template. In callback you would get `JSON.parse`d object and you should also return POJsO which will be `JSON.stringify`d and written to file.

[2016-07-26 12:53] despairblue opened #34 "plop fails if `prompt` property is omitted in plopfile.js"
Example: https://gist.github.com/despairblue/82a7bd6a16eccdbb7856493fb4d79c0a

Running `node_modules/.bin/plop` doesn't create a file or return an error code. When adding `prompts` everything works again.

[2016-07-26 14:14] amwmedia commented on #34
Thanks, I'll look into adding some validation for the generator structure before executing it.

[2016-08-10 13:47] mnemanja opened #35 "Windows 10 can't navigate"
Hi, I'm having a trouble to use arrow keys to navigate. I've tried **cmd** and **git bash**, as well as the **webstorm terminal**.

I'm testing it as a part of the react-boilerplate. This is the pre-anniversary win10.

[2016-08-11 17:45] amwmedia commented on #35
yeah, the prompt data is sent directly to inquirer to handle the user input. Not sure that there is much that can be done in plop if this is a problem between Windows and inquirer. 😦

I see that mxstbr/react-boilerplate#847 has been closed, was this resolved?

[2016-08-11 19:16] amwmedia commented on #35
Thanks! so it looks like you can fix this issue by updating your node to one of the working versions 👍

[2016-08-11 19:16] #35 closed

[2016-08-15 11:35] mnemanja commented on #35
I can confirm that it works with Node 6.2.
Thanks @Dattaya.

[2016-09-09 05:51] wbobeirne opened #37 "Document liftoff arguments"
I was looking for a way to supply my own paths and things of that nature, but --help and the readme were not helping. But they're in there, just undocumented https://github.com/amwmedia/plop/blob/master/plop.js#L24

[2016-09-09 07:23] wbobeirne commented on #33
I went ahead and made a custom action for this, but I definitely think this could get rolled in as a flag on `modify` action types or something. Here's the code for alterJsonAction.js: https://gist.github.com/wbobeirne/63e1b8c3a16ffce6dac5c7d81afd5cec?ts=2

Example usage from my use case is:
[code]
I also threw in an `indentation` arg there that takes an int or "\t", if 2 spaces ain't your game.

[2016-09-13 12:25] amwmedia commented on #37
hey, thanks for bringing this to my attention. I'll get the documentation in for this. The liftoff support was added by a contributor, and I must have missed the fact that these command line args were added.

[2016-09-13 12:28] amwmedia commented on #33
sorry for the late response, I agree that this would be pretty useful in some cases. I'll have to give some more thought to the best implementation for this feature. Thanks!

[2016-09-28 15:14] codTango opened #39 "Customize the starting prompt"
The starting prompt says: "[PLOP] Please choose a generator. (Use arrow keys)" each time when I run plop, is it possible to customize it to some other message?

[2016-09-28 23:59] gagoar commented on #28
+1
We are using plop for our design system where we relay heavily on the generator to create components and icons, etc. Sometimes to speed things up we would like to supply `options` (plop component --`inputName` `inputValue` ) and avoid that prompt completely. Could we propose to add this? It should be fairly transparent and generic giving that prompts `input` have a `name` key. we can leverage.

[2016-10-04 17:05] albybarber commented on #28
👍  +1

[2016-10-04 17:10] amwmedia commented on #39
I'm probably going to make some changes to how "[PLOP]" shows up throughout the process. I'll need to look at whether it's possible to also add a way to customize this initial message as well. Right now I don't think it's possible (as things are today)

[2016-10-04 17:15] amwmedia commented on #28
so, if we made it so that you could execute `plop component --name "user list" --size medium` would that suite the need? the only issue I have with that is that there's no way to know what `--attribute` you would need to use without looking at the plopfile.js code. But maybe that's ok. Or maybe we need to alter how each prompt is being given so that the attribute name is surfaced... meaning... if

[2016-10-04 17:23] gagoar commented on #28
yea, we could show a generic answer to display the properties offered. like generic `--help` perhaps ?

also this would provide for a really nice API so we could integrate plop to any runner (like gulp or grunt) if needed.

[2016-10-04 17:25] albybarber commented on #28
Yeah that would work! I am not really to worried about the surfacing of named attributes because if you are using this `power user` feature you would already know the names.

Thanks.

[2016-10-04 17:30] amwmedia commented on #28
ok, thanks for the feedback! @gagoar might be able to implement something like `plop component --prompts` that would list out the prompt data. Or maybe (like @albybarber mentioned) we just leave it as a feature that you really only can use if you understand how the prompts are structured.

Though, if we take that approach, I'm inclined to just let that fall to node-plop. I'm like 90% done with it

[2016-10-04 18:02] gagoar commented on #28
that could work just fine. where we can see node-plop ? I think that would be exactly what we need actually

[2016-10-04 19:04] amwmedia commented on #28
nothing to see yet, I have it developed locally ;-)

[2016-10-04 19:05] amwmedia commented on #28
I'll let everyone know here when it's released, the repo is over at https://github.com/amwmedia/node-plop if you want to watch it.

[2016-10-04 20:21] gagoar commented on #28
@amwmedia thanks ! ping us if you need help. We would be happy to contribute !

[2016-10-06 13:33] amwmedia commented on #28
just pushed up the first pre-release version of node-plop, please have a look and let me know if you run into any issues 😄

https://github.com/amwmedia/node-plop

[2016-10-06 13:57] amwmedia commented on #28
closing this for now because I believe node-plop is going to be the solution for this

[2016-10-06 13:57] #28 closed

[2016-10-06 13:58] amwmedia commented on #7
just pushed up the first pre-release version of node-plop, please have a look and let me know if you run into any issues 😄

https://github.com/amwmedia/node-plop
it's also up on npm
https://www.npmjs.com/package/node-plop

[2016-10-06 13:58] #7 closed

[2016-10-06 13:59] amwmedia commented on #22
just pushed up the first pre-release version of node-plop, please have a look and let me know if you run into any issues 😄

https://github.com/amwmedia/node-plop
it's also up on npm
https://www.npmjs.com/package/node-plop

[2016-10-06 13:59] #22 closed

[2016-10-06 14:00] amwmedia commented on #24
just pushed up the first pre-release version of node-plop, please have a look and let me know if you run into any issues 😄

https://github.com/amwmedia/node-plop
it's also up on npm
https://www.npmjs.com/package/node-plop

[2016-10-06 14:00] #24 closed

[2016-10-07 13:51] connorTang opened #40 "Parsing a react.js template, and it gives errors on double quotes."
[code]
It gives error: `Expecting 'CLOSE_RAW_BLOCK', 'CLOSE', 'CLOSE_UNESCAPED', 'STRING', 'NUMBER', 'BOOLEAN', 'OPEN_SEXPR', '
CLOSE_SEXPR', 'ID', 'DATA', got 'INVALID'`

In general, this is a piece of my template which is react.js file, so that double quotes are useful to react. In this case, how would I parse that?

[2016-10-07 14:04] amwmedia commented on #40
so the situation is that when you use double quotes in the plop template file it throws an error when you try to generate from that template?

[2016-10-07 14:09] connorTang commented on #40
@amwmedia yes, that's the case.

[2016-10-07 15:23] amwmedia commented on #40
the problem here is the `{{ }}` handlebars is trying to process this when you really want React to process it. I'd be interested to hear how @mxstbr solved this on his react-boilerplace project. I've solved this for angular projects using a helper that goes something like this...

[code]

then in your template you would use it like...

[code]

it's a bit of a hack, but it does get the job done.

[2016-10-07 15:25] connorTang commented on #40
@amwmedia  yea, I have thought that solution, and thought that there might be a better solution. But I guess I will just use a helper for now.

[2016-10-07 15:28] amwmedia commented on #40
I'll post here if I think of something better. maybe someone out there will come up with a better solution. I think the helper might be fine if it were named something better... maybe like `escape`?

[2016-10-07 15:28] #40 closed

[2016-10-07 17:46] mxstbr commented on #40
We don't have that issue as we don't have templates with much JSX in it, sorry!

[2016-10-22 10:32] calcaide commented on #20
@nicksrandall Thanks for that idea, actually I made two plop generators ([plop-react-webpack](https://www.npmjs.com/package/plop-react-webpack) and [plop-node-express](https://www.npmjs.com/package/plop-node-express)) with that approach and works pretty well.

Just note, that in the generator `plopfile.js`, in all `templateFile` property I had to writte the route like that `node_modules/plop-node-

[2016-10-24 13:22] amwmedia commented on #20
@calcaide I believe right now this is the way you would do this. However, soon I'll be adding in full support for these types of approaches. The way I'm planning to do this would allow your shared plopfiles to reference everything locally like they normally would, but give the consumer plopfile control to specify where the generated files should be placed. still working out the details, but this i

[2016-10-26 07:53] calcaide commented on #20
@amwmedia Many thanks for the answer. The [node-plop](https://github.com/amwmedia/node-plop) looks pretty cool, are you accepting contributors? Because I am interested in contribute to the project. Since I meet plop (a few weeks ago) I really fall in love with, I think is very much simpler than Yeoman. Actually, I am using Plop as a generator (replacing yeoman) and as micro-generator. Thank you fo

[2016-10-26 14:11] amwmedia commented on #20
@calcaide really glad you like plop and are having good success with it. I'm always open to ideas and contributions! I would just ask that if you have an idea for a new feature, start the conversation as an **issue** so we can brainstorm and layout a plan for implementation.

Things that are ready to be worked on are the integration work so that `plop` is using `node-plop` internally and documenta

[2016-10-27 09:58] calcaide commented on #20
@amwmedia  ok, you are right. I thing start the conversation as an issue is perfect. I will do that to not pollute more this issue. My intention is start contributing with little things and ideas.

[2016-10-27 10:00] calcaide opened #43 "Is plop using node-plop?"
@amwmedia As you said in issue #20 (if I understood well) plop is using node-plop internally, right?
Supossing that, I can see that plop is not requesting node-plop, in fact, the files are duplicated, please correct me if I am worng. That confuses me a bit, actually, that's why I didn't realise that plop is using node-plop.

In case that my assumption is correct, what do you think about using node

[2016-10-27 12:24] amwmedia commented on #43
ah, sorry for the misunderstanding. What I meant to say was that plop needs to be changed so that it uses node-plop internally. That is a change that still needs to happen.

[2016-10-27 14:17] calcaide commented on #43
No worries 😉 , I did the question just to figure out in what project I have to focus first, now is clear, I will put my effort in node-plop.

[2016-10-27 14:20] amwmedia commented on #43
sounds good, I'm in the middle of a revamp of the code. simplifying with `co`, es6 Promises, etc. Should be a lot easier to read the code and follow when I'm done.

[2016-10-27 14:20] #43 closed

[2016-10-30 08:43] kristianmandrup opened #44 "Why not extend existing fs-promise lib?"
Notice you have written your own helper library `fs-promise` but such a lib already exists.
Why not extend the existing one!?

[2016-10-30 21:49] amwmedia commented on #44
Well, when I originally wrote this I didn't see much use in extending an existing library because I wasn't sure how generic my implementations would end up being. Also most of what I needed was easily achieved just using the q.denodeify function so I preferred using what was already available (because I was already using q heavily), rather than adding another dependency. I actually just re-factore

[2016-10-30 22:02] kristianmandrup commented on #44
Is `fs.exist` still valid?  I thought it was deprecated and we had to use `fs.stat` instead.
Besides that you could refactor your code to half that size if you really wanted since you are repeating the same pattern... on another note, `fs-promise` denodifies all the same + some extras from `fs-extra`? Take a look...

[2016-10-30 22:05] kristianmandrup commented on #44
On yet another note, I'd like to see a `json-operator` module, for delete, set, merge on paths in json structures, sinilar to your regex string replace for text files. Then ideally also an AST equivalent... :) Looking forward to more improvements! I really like this lib over Yeoman and Slush!

[2016-10-30 22:10] kristianmandrup commented on #44
I plan to work on such a json-operator later this week... Would be nice in combination with node-jq. I created master-inquisitor today, inquirer all in one... Check out inquirer-test and mock-fs for testing generators ;)

[2016-10-30 22:11] kristianmandrup commented on #44
The regex json "equivalent" is json-path ;)

[2016-10-31 02:59] amwmedia commented on #44
I'll look at dropping in `fs-promise` and see how that goes. Might make sense now that I'm no longer using `q` for promises and I need to either depend on `denodeify` or something like `fs-promise`.

as far as the `json` action type, I'd be interested in seeing how you would envision that interface working. Also having a code modification action that uses `esprima` or the like is an interesting id

[2016-10-31 03:04] amwmedia commented on #44
side note, if you're looking to contribute to these types of features you'll want to look at contributing to `node-plop`. As I mentioned before I'm working up to integrating it into plop. Been setting up unit test coverage and such.

I tried to get unit tests running using `mock-fs` and `mountfs` but was not able to make it work well. currently I'm just using a temp directory that gets thrown away

[2016-10-31 08:46] kristianmandrup commented on #44
I created this json operator lib this morning: https://www.npmjs.com/package/json-operator
I will look into `node-plop` next :)

[2016-10-31 13:59] amwmedia commented on #44
`json-operator` looks interesting, I'd be interested to see what type of action object could be created using it. Seems like this would be very handy in [custom action functions](https://github.com/amwmedia/plop#custom-action-function) at least.

[2016-10-31 15:21] kristianmandrup commented on #44
Exactly why I created it. My main use case ;) Now I will learn esprima and estraverse!

[2016-10-31 15:53] amwmedia commented on #44
they are a lot of fun ;-) used them recently for a work project.

[2016-10-31 15:53] #44 closed

[2016-11-01 17:48] amwmedia commented on #34
this issue will be taken care of in the next plop release when I integrate `node-plop`. `node-plop` addresses this issue in release [v0.3.0](https://github.com/amwmedia/node-plop/releases/tag/v0.3.0). stay tuned...

[2016-11-01 17:50] amwmedia commented on #30
please take a look at [node-plop](https://github.com/amwmedia/node-plop). It's available now, not well documented, but I'd consider it pretty stable at this point.

[2016-11-01 17:50] #30 closed

[2016-11-03 00:28] thejohnbackes opened #45 ""message" does not appear to be supporting 'typeof Function', contrary to docs."
According to the Inquirer docs, [message can take either a String or a Function](https://github.com/SBoudrias/Inquirer.js#question):

So, I would expect the following question object to print the previous answers in the prompt:
[code]
Instead, it prints the function body in the prompt:
[code]
Am I misunderstanding the docs?

[2016-11-03 00:34] thejohnbackes commented on #45
it is possible this is was fixed in a later version of inquirer. Is there a reason we are using inquirer@^0.1.0 when they are on 1.2.2?

[2016-11-03 02:10] amwmedia commented on #45
that was my thought as well. There is a new version of plop that I'm prepping for release that updates to the latest inquirer and changes the core to use the new [node-plop](https://github.com/amwmedia/node-plop) library. I'll test this scenario out on that version and we'll see how it does. plop takes your `prompts` and passes them directly to inquirer, so I think it's pretty likely that it's a v

[2016-11-03 02:12] amwmedia commented on #45
the new version of plop is being prepped for release on the [use-node-plop](https://github.com/amwmedia/plop/tree/feature/use-node-plop) branch

[2016-11-04 18:00] amwmedia commented on #45
fixed in v1.6.0

[2016-11-04 18:00] #45 closed

[2016-11-04 18:01] amwmedia commented on #34
this should be fixed now in v1.6.0

[2016-11-04 18:01] #34 closed

[2016-11-04 19:38] udaraweerasinghege opened #46 "Add a when property for actions"
Add the ability to pass in a 'when' into the action object so that it only triggers if the condition passes similar to the 'when' in prompts

[2016-11-04 19:41] #46 closed

[2016-11-04 22:33] amwmedia commented on #44
FYI, one of the features I'm planning to implement soon is pluggable actions. So you could develop action pluggins that people can `require()` and use in their plopfiles

[2016-11-04 22:33] amwmedia commented on #44
so stay tuned ;-)

[2016-11-04 22:53] kristianmandrup commented on #44
Sounds great! I thought that was already part of `plop`, one of the main reasons I was drawn to it. A "no brainer". I'm about to develop a much more powerful way of prompting for user input...
Using categories of questions, and allowing the context to be fed into each question in order that they reflect the current choices... Also adding a better way of mapping choices to modules to be installed.

[2016-11-04 23:00] amwmedia commented on #44
right now plop supports custom action functions, but this would allow you to essentially publish a custom action function that could be run using a small config object. Similar to how you run the `add` or `modify` actions. You would be able to attach your 3rd party actions and just use them by specifying action objects with the corresponding `type`.

I'd be interested to hear your thoughts on "mov

[2016-11-04 23:31] kristianmandrup commented on #44
Template files are too static and very limited what you can do IMO.
Better to install modules dynamically via f.ex https://www.npmjs.com/package/yarn-install
and do file operations, like with `json-operator` or soon to be `code-operator` (using `esprima` and AST transforms etc.) I have loads of ideas for better tooling ;)
All just a matter of time and effort! Let's see where we can take this...
Lo

[2016-11-04 23:40] amwmedia commented on #44
AST driven tooling is really powerful, I think the main challenge there is to also make it simple to understand and implement with.

[2016-11-07 13:00] penrillian-chrisa opened #47 "Totes amaze!"
Just a quick line to say thank you for creating plop. Why haven't I heard about it before?

I'm using it to create assets for a [HAPI](http://hapijs.com/) server, and although it took a couple of hours to get it in place, it's going to save so much time.

[2016-11-07 13:25] amwmedia commented on #47
Thanks for kicking off my week with that warm fuzzy feeling ;-). I'm really glad you are loving plop!

[2016-11-07 13:25] #47 closed

[2016-11-08 18:56] pavanpodila opened #48 "Inquirer plugin crashes with plop 1.6.0"
Looks like there is some mismatch in `plop`, `inquirer`, around the use of promises:

Offending code:
**plop/node_modules/inquirer/lib/ui/prompt.js:79:50**
[code]

Log:
[code]

[2016-11-08 18:59] amwmedia commented on #48
I believe this is likely a problem with a plugin that has not been updated to the 1.x release of inquirer. If you need to use plugins that use the 0.x version of inquirer you may need to revert the version of plop that you are using to 1.5.0. I'm open to other possible solutions, but I don't know of any at this time.

[2016-11-08 19:00] #48 closed

[2016-11-08 19:01] amwmedia commented on #48
I'm happy to re-open this issue if there are other possible ways to address this issue.

[2016-11-08 19:09] pavanpodila commented on #48
Ok, for now I am switching back to **1.5.0**. Hope @nicksrandall gets a chance to look and fix this.

[2016-11-08 19:12] amwmedia commented on #48
if not, someone will probably make a fork that will work

[2016-11-08 20:10] nicksrandall commented on #48
fixed via https://github.com/nicksrandall/inquirer-directory/releases/tag/v2.1.0

[2016-11-08 20:47] pavanpodila commented on #48
Awesome @nicksrandall. Could you please publish to NPM as well :-)

[2016-11-15 02:08] thejohnbackes opened #50 "global plopfile?"
how would you suggest creating a global plopfile that can be used across projects?

[2016-11-15 04:15] amwmedia commented on #50
Pretty ironic timing on this because I'm writing this functionality into plop right now. In fact today I pushed up a feature branch to node-plop that implements part of it.

If you need something right away there is [an approach out there](https://github.com/amwmedia/plop/issues/20) where you can publish your plopfiles and templates up as an NPM module and just `require()` it into another project.

[2016-11-15 19:39] pavanpodila commented on #48
Finally was able to updated inquirer-directory and things are stable again. Thanks @nicksrandall

[2016-11-18 19:09] amwmedia commented on #50
this has been implemented in [v1.7.0](https://github.com/amwmedia/plop/releases/tag/v1.7.0)

[2016-11-18 19:09] #50 closed

[2016-11-18 19:37] amwmedia commented on #23
this is finally complete, take a look at [plop.load](https://github.com/amwmedia/plop/blob/master/plop-load.md). Also you can look at the very basic code for [the `plop-pack` I published](https://github.com/amwmedia/plop-pack-fancy-comments/blob/master/index.js) in order to test this all out.

[2016-11-18 19:37] #23 closed

[2016-11-19 05:39] amwmedia opened #51 "plopping projects - request for input"
I'm going to be soon introducing the ability to plop an entire project codebase and I want to throw out the approach I'm currently considering for feedback. My plan is to enable a syntax something like the following.

`$ plop --project http://github.com/some/repo --destination ./some-repo`
or shorthand
`$ plop -p http://github.com/some/repo -d ./some-repo`

## this command would trigger the follow

[2016-11-19 06:46] tpizza opened #52 "Plop throwing SyntaxError from node-plop"
Alright, so first off, I'm pretty stoked to be taking Plop for a spin.  It seems super promising and can't wait to roll it into my workflow.

It seem as though node-plop is breaking the CLI tool at the moment.  Plop is installed both as a global and a dev dependency for my project.  However, Plop fails when I try invoking it.  I've tested my own plopfile as well as pulled the one from the example

[2016-11-19 07:24] tpizza commented on #51
I like the idea for sure, man.

This would actually solve the challenge I was facing earlier today for automating a good portion of project setup.  Instead of having to run a whole scaffolding routine via Gulp, this would cut out that entire step.

One thing that would be cool for project initialization is a cleanup method.  Haha, you something like:
[code]

Just thinking maybe having some means o

[2016-11-19 08:42] f-roland commented on #52
Saw that too this morning.
you need node > 6 to have support for default function argument.

try to update your node version, and plop should work. But maybe then add a warning when installing plop that it requires node > 6 ?

[2016-11-19 09:03] nicoespeon commented on #51
Hi @amwmedia!

I did not use plop on my recent projects so I'm a bit out of date.

Still, I find this to be a nice idea. It sounds not adding too much complexity and I can see the use cases 👍

I was wondering "maybe we should allow to retrieve the project locally, not just on a distant repo like the example", but I think that can be delayed for later if people start asking for it − or maybe there

[2016-11-19 12:38] amwmedia commented on #52
Thanks for letting me know, I'll get a hot fix out very soon. My intent is to support node 4.0+ so this is just a defect. I wonder why the babel compile process doesn't transform this... very strange

[2016-11-19 14:31] f-roland commented on #52
Well, it is working, but requires a certain node version.
if your intent is to support node 4+, maybe you could add it in package.json ?
https://docs.npmjs.com/files/package.json#engines

[2016-11-19 14:35] amwmedia commented on #52
I added engines to node-plop, but I should probably add that to plop as well. Thanks for the suggestion. I think what I need is a CI process that just runs all the tests on node 4

[2016-11-19 17:50] Krekotun opened #53 "Windows 8.1 doesn't work. Says "can't find a module ...""
I tried to run it from local `node_modules/.bin`
Then I installed it as global dependency, generated a new plopfile `plop -i` and run it. Nothing

Here is the screenshot http://d.pr/i/13ELg2

On macOS I have no problems.

[2016-11-19 20:37] kentcdodds commented on #51
I use yeoman to create new OSS projects and it's really useful. I may think about swapping to this though. I have a few thoughts/questions:

1. If you're escaping `{{`, how would you do actual interpolation?
2. I would definitely like the ability to point to a directory rather than a git repo. Having both would be useful.

Sounds like a great effort :+1:

[2016-11-20 00:35] amwmedia commented on #51
@tpizza Absolutely, what I was originally thinking is that this would be easy to do with a simple [action function](https://github.com/amwmedia/plop#custom-action-function). You could run rimraf to clean up any files that are not needed in the end, however it _might_ make sense to make an official action for this because it's definitely going to be a common need. Thoughts?

[2016-11-20 00:38] amwmedia commented on #51
@nicoespeon yes, i would definitely see a benefit to being able to get the codebase from the local file system, a corporate network shared drive, etc. good suggestion 👍

[2016-11-20 00:50] amwmedia commented on #51
@kentcdodds i probably didn't explain this very clearly (I _WAS_ writing it at almost 1am after all haha). That's where the `{{% %}}` would come in. For interpolation during the init process, you would use `{{% %}}` in place of your normal `{{ }}`. That way if your codebase uses double curly braces for anything (very common), they won't be processed during initialization.

so this
[code]

would tu

[2016-11-20 00:51] amwmedia commented on #53
Thanks for raising this, I will be looking into it Monday morning and should have a patch out shortly

[2016-11-20 02:08] amwmedia commented on #51
Also, what would you all think about implementing a search interface where you could search a central repo of seeds projects? something like `plop --project` without a value could kick it off. Something like that might really make the overall ecosystem more robust.

[2016-11-20 02:15] kentcdodds commented on #51
Actually, why don't you do the community/registry thing with npm like Yeoman does? Just have a keyword they must have and a website that shows packages with that keyword or something...

[2016-11-20 03:55] tpizza commented on #51
@amwmedia Yeah, I am thinking the use-case for folding that in as a core action would be common enough to where including it makes sense.  As usage continues to expand throughout the community, it'll definitely come in handy for it to be in the API versus creating a custom action in every plopinit.

I think what you're proposing for the search interface could be highly valuable.  I'm wondering if

[2016-11-20 06:57] tpizza commented on #52
@amwmedia so sort of weird/interesting...I forked node-plop and when compiling, Babel transformed the default parameters properly.

The only other problem that happened thereafter was the `path.posix.basename` call for setting the plopfile path was triggering an error because the posix basename was returning the full path for whatever reason.  I changed the call to `path.basename` and now plop is

[2016-11-20 07:41] tpizza opened #54 "Enhance error message returns"
Something that came up when I was plopping files:

It being so late, haha, I was trying to reference the pascalCase helper within handlebars with a literal PascalCase.

Instead of throwing the error ` Missing helper "PascalCase" ` from the message prop within the error object instead the only error output printed in the console was ` [FAILED] undefined undefined undefined `

Maybe we include the e

[2016-11-20 11:19] calcaide commented on #51
@amwmedia looks pretty good idea and I like the approach. As @nicoespeon suggest, I think is a good idea to allow retrieve project locally. Also, I like what @kentcdodds  is suggesting, in my plop generator projects that I have in NPM, I use the word plop- maybe is not the best word (too generic maybe), but when I did it `plop-generator` it seemed too long.
And yeah, for sure, as you aand @tpizza

[2016-11-21 00:26] tpizza commented on #52
Yeah it looks like Windows 7 at least isn't a fan of path.posix....

[2016-11-21 14:55] amwmedia commented on #53
resolved in v1.7.1, please let me know if you see any other issues

[2016-11-21 14:55] #53 closed

[2016-11-21 14:56] amwmedia commented on #52
resolved in v1.7.1, please let me know if you see any other issues

[2016-11-21 14:56] #52 closed

[2016-11-21 15:19] amwmedia commented on #54
oh, haha, yeah, I'll see if we can pull an error out of handlebars when it compiles the template and bubble that up. Thanks!

[2016-11-21 17:02] amwmedia commented on #51
@tpizza I'm not sure I'm following what you're suggesting here as far as the private repo stuff goes. Can you clarify further?

[2016-11-21 17:18] Krekotun commented on #53
Thanks, I'll check asap

[2016-11-21 19:19] amwmedia commented on #51
@kentcdodds Seems like npm may be a logical vehicle for this. It allows public and private projects, offline, versioning, etc.

The thing I want to stay away from is the idea that you "install" this "program" that generates a site. I see it more as a codebase that is copied/downloaded, then prepared and customized via an initialization script. Maybe I'm splitting hairs here and there's not really

[2016-11-21 19:41] tpizza commented on #51
@amwmedia What I was thinking in terms of adding a private project repo would be adding additional sources for plop --project to pull from.  Sort of like adding additional apt-get repos in Ubuntu.

A general use-case I'm thinking of for this is I know the security folks at my organization would likely take issue if our templates were publicly visible.  So having the option of setting our local plo

[2016-11-21 19:45] amwmedia commented on #51
So what about something like this.

`$ plop --project npm-module-installed-local-or-global`

---

[code]

---

I think we could easily use the package.json file to configure the init process (see the example below). The json parameters `initPlopfile` and `initDependencies` would always get cleaned up automatically after init completed.

## package.json example
[code]

[2016-11-21 19:46] amwmedia commented on #51
@tpizza does the npm approach solve this for your use case? I would assume you could use artifactory to pull your enterprise codebases for generation?

[2016-11-21 20:01] tpizza commented on #51
@amwmedia you know what?  Yeah that would be more than adequate.

The idea I had in my head at first is a bit more complex than it needed to be.  It seemed like a good idea in my head at the time, but not so much IRL as I typed it out.  In short it would have involved pulling a private repo to an internal location which would contain all your different project templates.  From there then you'd use

[2016-11-21 20:16] amwmedia commented on #51
@tpizza ah, i see, so you were thinking of a way to drive the search interface via an internal registry. I think the only real problem with that is that it could be confusing for the developer unless we make some clear signifier that shows what registry you are pointed to, and how to change it.

This might be something we could address in the future though.

[2016-11-23 17:19] thejohnbackes commented on #50
thanks!

[2016-12-12 16:11] kopax opened #55 "Is there a way to read the users input in validate"
I have a select that purpose a folder list.

In the next step, I need to validated to ask him to type a folder name.

I will have to read the value of the folder list choice in order to write the validate function.

Is that possible ? to read the user input ? I've looked everywhere in the documentation it's like missing.

[2016-12-12 16:18] amwmedia commented on #55
so, to clarify, you need to alter something about prompt 2 based on the answer given in prompt 1?

[2016-12-12 16:33] amwmedia commented on #55
Plop uses inquirer syntax, so from the sound of it, you might be able to handle this case with the `when` property of the [Question Object](https://github.com/SBoudrias/Inquirer.js#question) spec.

[2016-12-13 15:50] kopax commented on #55
@amwmedia yes it's exactly that.

I have read the `when` definition, could you provide a sample case I don't really understand what

` and should return true or false depending on whether or not this question should be asked.`

mean in this situation

[2016-12-13 16:13] amwmedia commented on #55
I don't believe you can use the answer to a previous question to alter the values of a question asked later. I think your only option is to have questions in the array for the various scenarios that are possible and use `when` to decide which question should be asked. This doesn't play nice with "decision tree" type scenarios, but there may be other options I'm not aware of. I'd suggest posting th

[2016-12-13 16:13] #55 closed

[2016-12-13 16:30] kopax commented on #55
I solved it like this

[code]

[2016-12-13 16:32] amwmedia commented on #55
deliciously hacky... I like it ;-)

[2016-12-18 23:08] R0bson opened #56 "inquirer-recursive doesn't work with inquirer@0.12.0 installed by plop"
Hey, I just tried plop with inquirer-recursive and each time plop comes to prompt with recursive question it fails with error given below.

I resolved the issue by updating inquirer@0.12.0 to inquirer@2.0.0. At the moment inquirer-recursive works properly and nothing have broke so it's not an issue for me, but some other people may be misguided by https://github.com/amwmedia/plop/blob/master/inqui

[2016-12-19 02:21] amwmedia commented on #56
That's really strange because plop 1.7.3 depends on inquirer "^1.2.0". So it uses a version of inquirer that runs on promises. I'll do some tests tomorrow on plop's compatibility with this plugin. Any ideas @nathanloisel?

[2016-12-19 03:36] R0bson commented on #56
Well I see that I made a mistake...
I haven't checked real plop dependencies^^

After deeper search I found that in my repo eslint@3.12.2 has dependency on inquirer@0.12.0 while plop actually has a dependency on inquirer@1.2.0.
I don't know why but in some strange way npm resolved this conflict with global inquirer package with version 0.12.0 and put inquirer@1.2.0 in node_plop/node_modules, but o

[2016-12-19 14:06] amwmedia commented on #56
that makes a lot more sense.

[2016-12-19 14:06] #56 closed

[2017-01-03 13:11] nerdgore commented on #51
I like the idea very much. IMO it would be nice that if npm is used you don't need to type anything extra. npm knows of private repos and probably does the proxying anyway. My ideal would be something even simpler like `plop init plop-project-base` which would utilise npm to resolve other it is a repo, published module or local path. If no destination is given, plop would query whether I want to i

[2017-01-04 01:51] amwmedia commented on #51
@nerdgore I like this! The idea of repurposing the -init is great because that feature really doesn't do much at this point anyway, and I'm all for keeping things simple for the user. It also plays nicely into a widely accepted pattern (npm init, git init, etc)

[2017-01-13 04:35] amwmedia commented on #23
The first version of the website is finally out there. No list of community plop assets yet, but it's definitely on the radar. http://plopjs.com

[2017-01-18 15:33] jrencz opened #57 "Let `pkg` helper resolve property paths out of the box"
It may be useful to reach deeper than the 1st level of the package object.

I suggest plop should come bundled with `pkg` anyone can override like this:

[code]

It may be taken right from lodash like I suggested above or it can be replicated in this project if you don't want more dependencies.

[2017-01-18 16:35] amwmedia commented on #57
Thanks for the suggestion, I like how this extends the functionality without breaking the core functionality that already exists 👍

[2017-01-18 16:37] jrencz commented on #57
@amwmedia do you want me to prepare PR for exactly how I described it?

[2017-01-18 16:44] amwmedia commented on #57
if you'd like to, sure :-). This would need to be made over on [node-plop](https://github.com/amwmedia/node-plop/blob/master/src/modules/node-plop.js#L17)

[2017-01-19 17:45] jrencz commented on #57
amwmedia/node-plop#30

[2017-01-27 17:46] #57 closed

[2017-01-27 18:08] amwmedia commented on #51
After thinking this over in more detail. I believe that my original idea of copying and processing the whole codebase may be lacking. I don't like how it introduces more concepts and complexity. After thinking further about this, I believe we can use the existing plopfile interface to do project scaffolding as well. Here's what I'm thinking...

- a project generator would be a normal plopfile that

[2017-01-31 08:06] nicoespeon commented on #51
I like the idea of not adding too much concepts / complexity to the tool, so +1 for this one.

Maybe we can make a POC of it, to feel how it's going on.

[2017-02-03 14:07] #54 closed

[2017-02-06 20:42] nicoespeon commented on #21
Agreed that using a glob should redirect to a directory.

So, if I sum it up, this is basically what we'd like to achieve right?

[code]

[2017-02-07 07:03] nicoespeon commented on #21
I am wondering: if we have a specific `addMany` action to plop a glob into a folder, should we have

[code]

Or could we consider that sources could only be a folder:

[code]

The latter is simpler. It is less flexible though.

What do you think?

[2017-02-07 08:46] nathanloisel commented on #21
Hey guys,

It's a really interesting feature !
In my opinion, it can be very usefull to use pattern **/*.xx, it can allow to use different language like .ts or .js regarding to a hypothetical basic configuration. However, use both pattern (with a regex and with the source dir only) seem to be easy to implement.

This feature should be implemented in node-plop project i think. Tell me if any help i

[2017-02-07 10:13] nicoespeon commented on #21
@nathanloisel yep the glob would be more flexible. Though, you could still create different template folders to group files that are related. I'd understand both, it really depends on what we'd like plop to be like − @amwmedia, what do you prefer?

And yep, it's completely part of node-plop.

I'm playing around with that, see what I can do. Once I am clear on the desired API, I'd submit a PR for t

[2017-02-07 14:35] amwmedia commented on #21
I'd love to use globs, and even accept an array of globs like many projects have done. I think it may be necessary to also include a `base` property (similar to what [gulp does](https://github.com/gulpjs/gulp/blob/master/docs/API.md#optionsbase)) to allow the action to know how the template file paths relate to the destination.

Basically we need to have a way to answer the question of whether the

[2017-02-07 14:37] amwmedia commented on #21
Also, take a look at the [custom actions](https://github.com/amwmedia/node-plop/tree/custom-actions) branch of node-plop. It has the new structure where actions are now separate modules.

[2017-02-10 23:38] NoNameProvided opened #60 "Autorunning generators"
I am using plop kind of a time now, it saves a lot of times, so thanks for it!

Now I have tried to autoload generators, when scaffolding a project, but I couldnt figure out how to do it. Is it possible, did I missed something? I want to run it on my `postinstall`, so a command like `plop page --name=index` would make sense.

[2017-02-11 23:52] amwmedia commented on #60
Hey, there's currently no way to do this with the CLI (though I have been thinking of ways to make it happen). However, you can easily do this with [node-plop](https://github.com/amwmedia/node-plop) which is the package that runs all of plop's core capabilities under the hood.

[2017-02-11 23:52] #60 closed

[2017-02-12 17:32] NoNameProvided commented on #60
Thanks, will take a look. Anyway it would make sense to have this, its nicer to run only plop in a postinstall hook than write a script for it and ship one more dependency.

[2017-02-13 15:01] amwmedia commented on #60
I don't disagree, it's just a matter of finding a way to do it that doesn't potentially conflict with existing application flags. I've recently thought about using the `--` as a way to do this. If something is added I'll certainly let you know.

Can you explain your use case for me? Seems like if you want this to run on postinstall, you could just as easily have the codebase just include the index

[2017-02-13 15:08] NoNameProvided commented on #60
I am using it in a starter, and the reason behind this is that I want to allow projects to update the starter after they started using it in their project (`git pull upstream master`). To achieve this I cannot commit files which will be edited by the users, so I need to generate the starter files of the src folder after npm install.

Hmmm, npm uses this to pass parameters to scripts (`npm run gene

[2017-02-13 15:39] amwmedia commented on #60
thanks for the clarification!

As for npm and `--`, good to know. It's just something I'd need to test. I don't think it would be a problem.

[2017-02-14 15:05] amwmedia opened #61 "Is your company using plop?"
Hey there ploppers (ok, that's terrible), I'd like to add a list of companies that are using plop to the [plopjs.com](https://plopjs.com) website. So if your company uses plop and would like to be included on the list, please leave a comment below (or email) with your company's name and website address.

Thanks all!

[2017-02-15 09:28] rdewolff commented on #22
That's a good news that we can use `node-plop`

[2017-02-15 14:09] rdewolff commented on #32
an option would be great :)

[2017-02-16 00:18] jennasalau opened #62 "Question: Prompt only based of outcome of a previous prompt?"
Hi,

Love this framework.

I am wondering how I can show a prompt ONLY if the value of a previous prompt was "true"?

Is this possible?

[2017-02-16 00:45] amwmedia commented on #62
Yes! Inquirer supports this with the "when" property. I'll put a link in here once I'm back at my computer. But I'm sure google can help you find it too

[2017-02-16 13:39] #62 closed

[2017-02-18 10:30] nicoespeon commented on #37
Hey @amwmedia!

I think this one is closed with merge of #59, isn't it?

[2017-02-18 10:33] nicoespeon commented on #21
Thanks for indications 👍

I started giving it a try, then I got my computer stolen last week. I've been idle a bit since as I needed to restore a fully functional work environment, among other troubles this caused to me…

I'll get back to it when I got some free time 😉

[2017-02-20 13:59] amwmedia commented on #21
@nicoespeon sorry to hear that! Hope you are able to get back to normalcy soon 😄

[2017-02-24 11:51] amwmedia commented on #37
Yes, it is. @wbobeirne this will be in the next release.

[2017-02-24 11:51] #37 closed

[2017-02-28 05:08] yangshun opened #63 "Built-in pluralize helper support"
I just discovered Plop and was amazed by how easy it is to use! Kudos to you sir!

I would like to ask if there are plans to add support for a built-in `pluralize` helper so that I can emulate what Rails does when I run the `rails generate scaffold` command, to generate certain file/folder names contain the plural version of the input I pass into my plop generator.

If you are open to that idea I

[2017-02-28 18:04] amwmedia commented on #63
Yeah, you could pretty easily use something like the [handlebars-helper-pluralize](https://www.npmjs.com/package/handlebars-helper-pluralize) to accomplish this. As far as providing a built-in helper, I would not think that this would be used enough to warrant going in at that level.

I've been trying to keep the built-in helpers to including only those helpers which would be used in 90% of projec

[2017-02-28 18:06] yangshun commented on #63
Thanks, I ended up doing that 😄

Got it, will close this since it's not relevant.

[2017-02-28 18:06] #63 closed

[2017-03-02 10:54] MartinMuzatko opened #64 "Document validate of setGenerator Prompts"
Hello!

Partially, there is no documentation for the fields a prompt or action can have.
I only found that information by reading the example plop file.

Please document the `validate` property of prompts.

[2017-03-02 10:59] MartinMuzatko opened #65 "Document choices"
Please document choices of a prompt in github pages.

Related issue: #64

[2017-03-02 11:02] #65 closed

[2017-03-02 11:02] MartinMuzatko commented on #64
I found the documentation: https://github.com/SBoudrias/Inquirer.js/#question
I forgot it when I was already down in the documentation.
Feel free to close this issue.

[2017-03-02 12:59] amwmedia commented on #64
Glad you were able to find this so quickly. I'll consider adding a section that explains question objects and where to find documentation for them. 👍

[2017-03-02 12:59] #64 closed

[2017-03-03 13:17] MartinMuzatko commented on #51
I'd love having plop as a scaffolding tool for entire new projects. I imagine that managing new projects using the approach outlined in the previous post by @amwmedia to be a great way of tackling this issue. Do you think about adding a generator directory similar like yeoman to the github pages?

I saw they manage their generators using package.json keywords. (yeoman-generator)
Are there any plan

[2017-03-03 13:27] amwmedia commented on #51
@MartinMuzatko Yes! I would definitely want to set up a publically searchable directory. I'm a little torn on the method, though. The NPM keyword search seems like the obvious choice at first, but I also think there's value to using a separate list because it would keep the number of choices down to just the projects that are intended for general consumption. I think yeomans approach currently suf

[2017-03-07 05:53] brandonbuttars commented on #51
I like the idea of copying a folder of files or any type of file without trying to replace text.  Maybe just add a default action called 'copy'.

Maybe something like:

### if copying a directory

    actions: [{
        type: 'copy',
        path: 'app/new-directory,
        copyPath: 'plop/templates/scaffold-directory',
        directory: true
    }]

### if copying non-text file or whatever

[2017-03-07 14:54] amwmedia commented on #51
@brandonbuttars yes, I was thinking the same thing. Just adding an `addMany`, `copy`, and `copyMany` would suit the need I believe.

[2017-03-07 16:00] brandonbuttars commented on #51
Yeah, I like the idea of `addMany`, `copy`, and `copyMany`.  Perfect!  I'm excited to see this implemented.  That will make it possible to generate pretty much anything from my perspective.

[2017-03-08 16:45] brandonbuttars commented on #61
Sorenson Media - http://www.sorensonmedia.com/
We don't use it on the site but we use it to help build some of our products.

[2017-03-10 10:33] PaGury opened #66 "Be able to pass arguments to plop commands."
Hi !

I need to allow arguments to be passed to a plop command (to make it easier to automate certain tasks).
For a generator like this:

[code]

It would be cool if we could execute this command `` `plop CreateUser --name =" PAG "--phoneNumber =" 0836656565 "` ``

I did a test to implement this behavior and it works great.
Are you guys interested in this feature?

[2017-03-10 10:36] PaGury commented on #66
I just saw that https://github.com/amwmedia/node-plop existed, but it would be cool to allow plop users to pass some parameters directly as arguments commands.

[2017-03-10 13:00] amwmedia commented on #66
@PaGury how would you suggest we handle switches that are used by plop itself? Also, if one of the questions is not answered by parameters that are passed in, how would you expect to handle that situation?

I'd love to implement something like this, it's been a highly requested feature. I just haven't figure out a method that handles all the edge cases yet :-(. I think a solution can be found, adm

[2017-03-10 16:54] PaGury commented on #66
@amwmedia, i tried to implement a method ```setArgumentGenerator``` outside of plop. It works well but it's just a POC. I'll make a PR to show you.

If one of the questions is not filled by parameters, plop should ask normally using the inquirer prompt.

[2017-03-10 23:04] MartinMuzatko commented on #51
@amwmedia @brandonbuttars, shouldn't a glob pattern imply, that we are copying/adding many?

[2017-03-11 00:27] amwmedia commented on #51
@MartinMuzatko it would, and we would likely use a glob pattern. I'd have to think about whether it would be possible to roll the addMany functionality into the add action. Not sure it's possible without breaking backward compatibility, but maybe.

[2017-03-11 15:37] MartinMuzatko commented on #51
@amwmedia @brandonbuttars, shouldn't a glob pattern imply, that we are copying/adding many?

[2017-03-15 09:19] nicoespeon commented on #21
Hey @amwmedia!

FYI, I started to implement a `addMany` action in node-plop, based on the `custom-actions` branch.

I need to add more tests to handle different scenarios. But I'll probably open a PR anytime soon so we can discuss on concrete code and craft the API together, see how we answer the questions you pointed out (e.g: which parts of the `templateFiles` should be dropped, can individual f

[2017-03-16 14:54] MartinMuzatko opened #67 "Do not ask which generator to use, when there is only one"
Do you think it makes sense to just use the generator and start asking questions instead of picking one, if there is only one to pick?

[2017-03-16 14:59] amwmedia commented on #67
I'm not sure, I'd be interested in hearing what others think about this. I could sort of go either way on it. On one hand, it's convenient for it to take one step out of the mix. On the other hand, having the extra step in there makes for a consistent experience.

[2017-03-25 10:09] robhicks opened #68 "file generated relative to current directory"
I'm new to plop.

I followed the advice of putting the plopfile.js file at the root of my project.

When I ran plop the first time, I ran it from a subdirectory of the project. I expected it to create the files relative to the current subdirectory. It didn't. It created them at the root of the project.

Is there an easy way to get plop to generate the files in the current subdirectory without aski

[2017-03-27 01:53] amwmedia commented on #68
Hi @robhicks, I believe you landed on the correct solution for what you want to accomplish here.

The reason plop uses paths that are relative to the plopfile by default is to help enforce consistency in the directory structure. I've found that this works well for most codebases, and if the `cwd` is desired, a simple helper can provide that functionality (as you found).

[2017-03-27 01:53] #68 closed

[2017-04-02 10:49] publicJorn opened #69 "Accessing config from helpers causes error"
This helper should return a `<div>` or a tag name prefixed with "Styled":

[code]

Used in template file like:

[code]

The `console.log(config)` outputs:

[code]

However, if I try to access `wantStyles` by doing `config.data.root.wantStyles` I get an error:

[FAILED] add /Users/jorn/dev/www/qualimyne-r/app/components/MyComponent/index.js Cannot read property 'root' of undefined

[2017-04-03 14:15] amwmedia commented on #69
@publicJorn It looks like the problem here is that you're using the context object that handlebars provides in the last function parameter spot, but your helper isn't always called with 0 params.

the `config` param you reference above is only present in the first param spot when you use `{{{ ifStyledTagName }}}`. When you execute `{{{ ifStyledTagName true }}}` the `config` value is `true` and the

[2017-04-03 14:15] #69 closed

[2017-04-04 18:24] publicJorn commented on #69
Thanks! I should have though of checking `arguments`.
However, it wasn't that simple to extract the two passed arguments. It looks like node passes a whole load of stuff as well (might be prototype related). If you're interested, see a dump below.

Eventually I settled with this:

[code]

Called with:

[code]

For who's interested, here's the output of `console.log(arguments)` in the helper. Note

[2017-04-07 19:51] troywweber7 opened #70 "input default"
is there a way to set a default input if someone skips the prompt (i.e. such as if they want to use today's date instead of enter their own)?

[2017-04-07 20:00] troywweber7 commented on #70
Sorry, I am dumb. needed to read up on the inquirer first...

[2017-04-07 20:00] #70 closed

[2017-04-30 16:33] phillipemoreira opened #71 "Does plop support hierarchical prompts without custom prompt types?"
I believe one can use a custom prompt such as inquirer-recursive by @nathanloisel.
The suggested way for me to have hierarchical prompts would be to create a custom prompt type extending inquirejs base prompt. is that right?

[2017-04-30 17:36] phillipemoreira commented on #71
I see it now, one can use a custom prompt such as inquirer-recursive by nathanloisel.

[2017-05-01 00:20] amwmedia commented on #71
you can do SOME level of hierarchy using the inquirer.js [question object](https://github.com/SBoudrias/Inquirer.js/#question) `when` property. But if you need something more complex, you'd probably need a custom prompt. Unless someone else knows a better way? You could also pose this question on the inquirer repo directly.

[2017-05-01 12:29] #71 closed

[2017-05-05 16:04] brandondurham opened #72 "Anyone used Plop to help generate useful git commit messages?"
Was considering writing a small script to help ensure our devs (including myself) always include pertinent information in their commit messages in an expected format. Has anyone used plop for something like this, as far as you know?

[2017-05-05 17:29] amwmedia commented on #72
I have not heard of anyone do that, but it sounds very interesting! I suppose you could use a childprocess to then trigger the git commands from a custom action function. If you end up doing this, please let me know how it goes! sounds really cool :-)

[2017-05-08 11:15] kristianmandrup opened #73 "Allow for alternative key/value inputs"
Would be nice to be able to pass a JSON file, JavaScript object or other alternative key/value mechanism instead of relying only on prompts

`generator.runPrompts().then(generator.runActions)` could be changed to `	generator.runInputs().then(generator.runActions)`

[2017-05-08 11:25] kristianmandrup commented on #73
Oh, I just found [node-plop](https://github.com/amwmedia/node-plop) but not really documented.

[2017-05-08 12:34] kristianmandrup commented on #73
Got it all working here:

- https://github.com/tecla5/plop
- https://github.com/tecla5/node-plop

[2017-05-12 12:10] #72 closed

[2017-05-12 12:31] amwmedia commented on #73
yes, this is definitely possible through node-plop. Glad you were able to get this working the way you wanted ;-)

[2017-05-12 12:31] #73 closed

[2017-05-12 14:34] kristianmandrup commented on #73
Well, not so straight forward. Still very much hardcoded for Terminal use.
Had to move `doThePlop` to `node-plop` and a bunch of other tweaks, such that I could also pass the `plop` Object (inputs + actions) as an object instead of having to read from a file given a `plopFilePath`. Needs a major cleanup/refactoring for 1.0 IMO ;)

[2017-05-12 18:03] amwmedia commented on #73
@kristianmandrup if it helps, you can actually use `node-plop` without a plopfile. You can see a basic example of this in [this ava test](https://github.com/amwmedia/node-plop/blob/master/tests/basic-no-plopfile.ava.js#L6).

[2017-05-12 20:57] kristianmandrup commented on #73
No docs

[2017-05-12 21:00] amwmedia commented on #73
Oh I know :-) just trying to help. Nodeplop is not really geared toward external consumption yet. When it's ready for that I'll be adding docs

[2017-05-23 12:31] duclet commented on #67
I like the idea of automatically choosing if there is only one option. While it may be inconsistent, what is the point if asking for user input if they are simply given one option?

[2017-05-24 23:02] TheSisb commented on #67
I would really like this.  At the very least there could be a way to skip into it.

[2017-05-24 23:03] TheSisb commented on #61
Discord, Inc. - https://discordapp.com
We use it to to generate the boilerplate for new UI components.

[2017-06-01 11:36] amwmedia commented on #33
hey, with plop 1.8.0 you can now create [custom action types](https://plopjs.com/documentation/#setactiontype) that you can share with other projects :-)

[2017-06-01 11:36] #33 closed

[2017-06-01 11:37] amwmedia commented on #21
[addMany](https://plopjs.com/documentation/#addmany) has been added in plop v1.8.0

[2017-06-01 11:37] #21 closed

[2017-06-13 20:06] popul opened #75 "Do not update to node 8.1, prompts stuck"
Since i updated node to 8.1, prompts stuck forever.

Inquirer raise an issue https://github.com/nodejs/node/issues/13557

It seems to be a node issue https://github.com/SBoudrias/Inquirer.js/issues/547

With node 8.0, it works

[2017-06-13 20:22] amwmedia commented on #75
I just verified. node 8.0 (stable) works fine, node 8.1 (latest) freezes when the user needs to enter input. Thanks for bringing this up @popul 👍

[2017-06-14 08:36] kubal5003 commented on #75
I also encountered this issue - Node 8.1 freezes, downgrade to 7.10 resolved the issue.

[2017-06-14 12:17] styfle commented on #75
I think this is fixed in Node 8.1.1 but I haven't verified yet.

[2017-06-14 12:20] amwmedia commented on #75
confirmed! a patch went out yesterday. 8.1.1 works for me.

[2017-06-14 12:20] #75 closed

[2017-06-14 19:14] ArielGueta opened #76 "Let the user to set global default values"
I wonder if there is an option that the user can set up something only once. For example a path to a directory.

[2017-06-14 20:52] amwmedia commented on #76
what kind of path? can you give me an example use case?

[2017-06-14 20:55] ArielGueta commented on #76
For example, I want the user to be able to specify the location of the folder where the file will be created once instead of asking it each time.

[2017-06-14 20:57] amwmedia commented on #76
if it should always be the same, wouldn't that be something that the generator should hard code? or are we talking about an instance where `user A` puts his/her files in `folder A` while `user B` puts their files in `folder B`?

[2017-06-14 20:58] ArielGueta commented on #76
The second option.

[2017-06-14 21:04] amwmedia commented on #76
right now you could accomplish this by putting something into package.json and using the [included `pkg` helper](https://plopjs.com/documentation/#other-helpers). does that sound like it would meet your need?

[2017-06-14 21:07] ArielGueta commented on #76
I will check it out. It will be helpful if in the future this process will be transparent to us. Thanks a lot for this awesome library. 👍

[2017-06-14 21:07] #76 closed

[2017-06-14 23:37] binhxn opened #77 "Move plopfile into a directory other than the root"
Hello,

I know in the Getting Started documentation the _plopfile.js_ should be kept in the root directory (namely where package.json is), but I was wondering if I can move the _plopfile.js_ to a separate directory and use the CLI to point to that specific directory to run the `plop` command. So if I moved my _plopfile.js_ in the directory `src/internal/plopfile.js`, my CLI usage would be somethin

[2017-06-14 23:40] amwmedia commented on #77
I believe this might be what you're looking for.

![--plopfile property](https://www.evernote.com/l/AAF2JBfuTM1C3L0rHKaU_bDO8ZjzNDJTMqEB/image.png)

[2017-06-14 23:51] binhxn commented on #77
That worked! What's interesting is that my list of options is completely different from yours. I even have the latest version.

![screen shot 2017-06-14 at 4 50 03 pm](https://user-images.githubusercontent.com/8155387/27159397-8fb73abe-5121-11e7-99d9-421d9f8ea56b.png)

Regardless, thanks for your help !

[2017-06-14 23:51] #77 closed

[2017-06-14 23:53] amwmedia commented on #77
I'm confused, I think you just sent the help page for yarn 🤔

[2017-06-15 15:50] binhxn commented on #77
*face palm* i did

[2017-06-17 21:19] rstacruz commented on #75
I'm getting this error again in Node v8.1.2, sorry guys :(

[2017-06-17 21:21] amwmedia commented on #75
I just tried it with node 8.1.2 and wasn't able to reproduce ☹️

[2017-06-26 19:48] ArielGueta opened #78 "Create an npm package from plop generator"
I need some help, please. I'm trying to create an npm package generator but I don't know how to run plop through the bin key in my package.json.

**package.json**
[code]

**index.js**
[code]

But then I'm getting the error:

How can I create an npm package with plop?

[2017-06-26 21:43] amwmedia commented on #78
is the goal to create your own command line tool that is driven behind the scenes by plop?

[2017-06-27 11:12] amwmedia commented on #78
you could probably do that by having your command run plop from node_modules, then use the `--plopfile` command line option to target your plopfile. At that point, you can just build your plopfile like you would anywhere else.

If you want more control you can explore using [node-plop](https://github.com/amwmedia/node-plop) which is the core library that the plop cli uses behind the scenes. You ca

[2017-06-27 11:14] amwmedia commented on #78
node-plop is pretty robust, but I haven't taken the time to fully document it yet. If you want to go that route and have trouble getting it going, let me know. I'd be happy to help get you unstuck if needed.

[2017-06-27 20:11] ArielGueta commented on #78
Thanks. I opened a question in SO, it would be great if you can help. I'm kind of stuck.
https://stackoverflow.com/questions/44783673/npm-package-how-to-run-script-programmatically

[2017-06-29 04:30] ArielGueta commented on #78
Someone suggested the following solution:
[code]

But when I changed this to:
`process.argv.push('--plopfile ' + __dirname + '/plopfile.js');`

It's still say "No plopfile found". You have an idea, why?

[2017-06-29 12:07] amwmedia commented on #78
change this:
`process.argv.push('--plopfile ' + __dirname + '/plopfile.js');`

to this:
`process.argv.push('--plopfile', __dirname + '/plopfile.js');`
`--------------------- comma --^`

`argv` is the already-parsed arguments, so those 2 parameters need to be separate values.

[2017-06-29 15:40] ArielGueta commented on #78
It's working, thanks a lot for everything!

[2017-06-29 15:40] #78 closed

[2017-07-05 19:54] NetanelBasal opened #79 "Fixed path for templates"
Hey, first of all, I would like to say thank you for this library. I released a [generator](https://github.com/NetanelBasal/ngrx-generator/) this week that built with plop.

I have a question related to a [feature](https://github.com/NetanelBasal/ngrx-generator/issues/1) they asked me to add.
Is it possible to set a fixed path where the templates will be created, no matter what folder I am in?

Th

[2017-07-05 20:10] amwmedia commented on #79
The path value for the `add` action can be relative or static. If it's relative, then the base directory is the plopfile path. I see that this won't help you because your generator is installed as a standalone binary.

So I suppose one way you could do this would be to have an optional property people can add to their package.json file that would define the static base path for the generator to us

[2017-07-05 20:14] NetanelBasal commented on #79
Yes, I thought about that, too. I just thought there might be a built-in way. Thanks anyway, keep up the good work. 👍

[2017-07-05 20:14] #79 closed

[2017-07-05 20:18] amwmedia commented on #79
Thanks! 👍

If you were using [node-plop](https://github.com/amwmedia/node-plop) you could define a `baseDestPath` property when you first instantiated the code. However, I realize that `node-plop` is not yet fully documented, and there's a lot of benefit to just firing up the plop CLI. Good luck!

[2017-07-24 12:00] v1adko opened #80 "Ability to lint template-generated code"
Hey everyone.

This is an awesome project, thank you! Stumbled upon it after playing around with [React Boilerplate](https://github.com/react-boilerplate/react-boilerplate) (another awesome project).

When I started writing more complex templates for React (for example conditional prop or nested conditions) in some "branches" styling would be really off (extra spaces, trailing commas, etc.). I kno

[2017-07-24 17:18] amwmedia commented on #80
Hey, this actually sounds like a perfect place for a custom action type! You can read more about how to create a custom action type under the documentation for [`setActionType`](https://plopjs.com/documentation/#setactiontype). Once you have your new action type setup you can actually distribute it as a `plop-pack` that can easily be loaded using [`plop.load()`](https://github.com/amwmedia/plop/bl

[2017-07-24 17:25] amwmedia commented on #80
I just realized that the `plop.load()` documentation doesn't mention `actions` but plop 1.8.0 introduced that as well, so that's the 4th thing that `plop.load()` can import.

[2017-07-24 21:54] amwmedia commented on #66
I'm considering 2 possible interfaces for accomplishing this and I would like some input on what would be more useful for everyone. Let's say we have a generator named `component` that prompts the user for 2 values: `name` and `type`.

### Would you rather see something like...
`$ plop component -- --name "some name" --type "some type"`
### or something like...
`$ plop component --values '{name: "

[2017-07-25 07:27] v1adko commented on #80
@amwmedia Thanks, looks great, I'll play with it.
Is it possible to reference other actions within an action? Linter needs an array of paths of generated/modified files and those are defined on other actions, so Ideally it would be cool to maybe have a `plop.getActions()` or something like that, just to avoid duplicating file paths.
Then within my custom action I could filter by a specific flag (l

[2017-07-25 07:43] nathanloisel commented on #66
Hey Andrew,

Personnaly :
`$ plop component --name "some name" --type "some type"` seems a good idea, JSObject is a bit long to write.
but we can remove --name and --type and values would be given in prompt order.
`$ plop component "1st prompt value" "2nd prompt value" "3rd prompt value" ...`

[2017-07-25 12:07] amwmedia commented on #80
I don't believe that actions currently have data about the actions array that they are currently running in. However, the list of paths should be know by the person writing the generator. So it should be possible for your action to accept an array of path template strings to operate on. That would give the consumer complete power to have the linting happen on only what they'd like.

something like

[2017-07-25 12:26] amwmedia commented on #66
@nathanloisel ah, yes, those are 2 obvious choices that I should have listed reasons for why I think they won't work.

### Mixing context
`$ plop component --name "some name" --type "some type"`

the problem I see with this one is that it mixes the options that are to be passed to the generator as answer data with the options that plop uses to make decisions about how to operate. So these options

[2017-07-25 12:44] PaGury commented on #66
I personnaly prefer the `Argument order` with the `--` because yep it doesn't require any knowledge of the prompt names.

We should allow to pass default values for some fields like this :

`$ plop component -- "1st prompt value" __default "3rd prompt value"`

Any thoughts on this `__default` parameter ?

[2017-07-25 12:50] amwmedia commented on #66
@PaGury what benefit would you see in being able to provide default values in the terminal vs using the `default` option in the [inquirer question object](https://github.com/SBoudrias/Inquirer.js/#objects)?

[2017-07-25 12:57] PaGury commented on #66
I think I have expressed myself badly.

You have a generator with 3 fields:
[code]

I need to call this generator from command line but do not want to pass the `IsMandatory` argument.

So I can do this:

`$ Plop component -" 1st prompt value "__default" 3rd prompt value"`

You see?

[2017-07-25 13:05] amwmedia commented on #66
I see now, could you accomplish the same thing by passing an empty string? I think this might be a little more intuitive than using a "special word".

`$ plop component -- "1st prompt value" "" "3rd prompt value"`

I don't think we are going to be able to handle everything that inquirer does through terminal arguments, but I think we can get close enough to make it useful for a lot of people.

[2017-07-25 13:20] amwmedia commented on #66
@PaGury thinking about this more, I think you might be correct. If we have prompts like the following:

[code]

and I way to provide `name` and `location` but have plop prompt for `type`, we need to support a way to skip over providing input for a prompt. Maybe something like...

`$ plop component -- "1st prompt value" --skip "3rd prompt value"`

This is basically what you were suggesting I think

[2017-07-25 13:39] PaGury commented on #66
Yep ! Nice idea !

[code]

The command below does not prompt anything and call the generator :
[code]

The command below prompts one input :
[code]

Are you ok with that ?

[2017-07-25 13:42] amwmedia commented on #66
I like it 👍

[2017-07-25 13:44] PaGury commented on #66
For the default value part, I prefer the `--default` option rather than `""` because it keeps the consistency with the `--prompt` option.

Thoughts ?

[2017-07-25 14:07] v1adko commented on #80
Yes, that's exactly right, I just wanted to know if there's a way to avoid route duplication and run specific actions on the files affected by the generator. Something like that.

[code]

And I'm currently achieving it by extending the actions array with a function.

[2017-07-25 14:18] amwmedia commented on #66
`--default` agreed 👍 . I just realized something though. using the `--prompt`, `--default` options makes this read like the next value belongs to the argument before. Do you think this could cause confusion? I'll try to illustrate what I mean with an example.

when you run plop with the `--plopfile` argument, the string that follows is the value that belongs to that argument.

`$ plop component --

[2017-07-25 14:29] PaGury commented on #66
Hum I see,

The "--" parameter explicitly specifies the beginning of the "passing values as parameter" section so I think it's not a problem.

[2017-07-25 14:41] amwmedia commented on #80
Let me give this a little thought. If you even had the name of the generator that was currently running, you could use the `getGenerator()` method on the plop api to get the list of prompts and actions. Alternatively if you had access to the default actions via the `getActionType()` method you could create a custom `add` action that would delegate to the build-in action. However, currently `getAct

[2017-07-25 14:43] amwmedia commented on #66
I don't necessarily disagree, maybe someone else will pipe up with a great idea that we didn't think of.

[2017-07-25 15:22] PaGury commented on #61
iAdvize. - https://www.iadvize.com
Not used on the website.
Using it on some of our products to enhance development experience/productivity.

 - React component generators.
 - JS domain generators.
 - We plan to use it to generator some scala projects parts

[2017-07-25 15:34] v1adko commented on #80
Yeah, no problem - that's all I wanted tbh, just some discussion. The API and functionality is great as is :)

[2017-07-26 11:58] amwmedia commented on #80
well, the conversation has exposed a few shortcomings of the API that I didn't think about... so thanks! 👍  I still thing that a list of paths might be the best because it is very explicit and doesn't make any assumptions. Although I could see how having an option that you can mix into other actions could be very convenient. I'm going to leave this open as a reminder to implement something that wo

[2017-07-26 12:00] v1adko commented on #80
Awesome, thank you too! :)

[2017-07-27 14:20] amwmedia commented on #66
I've got a first pass at this working, here's my initial take on some special "switches" that we'll likely need.

- --prompt
- --default
- --null
- --boolean:_true/false_
- --number:_someNumber_

I thought of using `--true` and `--false` instead of `--boolean:whatever` but then the number switch is kind of the odd one out.

Maybe a better solution is to test each case individually...
1. is it exac

[2017-07-31 13:25] PaGury commented on #66
Maybe the type is not necessary for primitives types, we should rely on the inquirer.js input parsing strategy.

Inquirer.js parse `y` or`n` for `true` or `false`. So why we shouldn't just rely on it ?

For specifics and complex cases like **checkboxes** we should implement a type parameter and a parsing middleware.

Example for a generator with a question like this : string, confirm, checkboxes,

[2017-07-31 13:44] amwmedia commented on #66
I agree that we could coerce "y" to `true` and "n" to `false`. Maybe we don't really need numeric values at all. I was looking over the [inquirer question types](https://github.com/SBoudrias/Inquirer.js/#prompt-types) and it seems that they mostly yield strings, arrays of strings, or boolean values. So maybe we focus on how those things are defined for version 1 of this?

[2017-07-31 14:36] amwmedia commented on #66
what I'd really like to do is find an interface that handles 90% of what people will need to do with very little friction, but provides enough power to do more if you need (even if it's a little more cumbersome). Throwing out another option for consideration. What if we watch for strings that start with '=>' and evaluate the rest of that input using something like `eval()`? I know `eval()` is gene

[2017-07-31 14:41] rosshadden commented on #51
Is it (still) the case that plop doesn't allow you to bootstrap entire projects?  Is there a concept of a global plopfile, which could be used from anywhere and thus be used for such a thing?

I was looking into seeing what was out there besides yeoman, but what I want is something that can generate both an initial project structure and specific files/workflows afterward.

[2017-07-31 15:03] amwmedia commented on #51
This is not currently in place, but it's one of the next things that I'm looking to add. I don't believe it will particularly hard to implement, just haven't gotten to it yet.

[react-boilerplate](https://github.com/react-boilerplate/react-boilerplate) and others have been using the repo cloning process for their initial project scaffolding, then they use plop for asset generation going forward.

[2017-07-31 18:29] adam-lynch opened #81 "Dynamic / reactive prompts"
Plop is handy, thanks. One thing that would top it off is the ability to tweak prompts based on previous answers. It looks like Inquirer has a ["reactive interface"](https://github.com/SBoudrias/Inquirer.js#reactive-interface) for this.

[2017-07-31 18:37] amwmedia commented on #81
I believe support for this was just recently added to plop. Take a look at https://github.com/amwmedia/node-plop/pull/37. I believe documentation for this might have been overlooked... note to self...

[2017-07-31 20:00] adam-lynch commented on #81
@amwmedia thanks for the quick reply. I'll leave this open to as a reminder to document it 👍

[2017-07-31 20:46] adam-lynch opened #82 "Slashes dropped in file name"
I have an (dynamic) action like:

[code]

Let's say `directory` is `b` and `name` is `c`. The result would be `aB/c.js` rather than `a/b/c.js`. I've tried to escape the slash in multiple ways but it doesn't help. I might be missing something here.

If the `path` is just `a/b/{{camelCase name}}.js` then it correctly spits out `a/b/c.js` but if the `path` is `a/{{camelCase directory}}/c.js` it spits

[2017-07-31 21:07] amwmedia commented on #82
that's very strange, I will try to reproduce locally and get back to you

[2017-08-01 11:56] amwmedia commented on #82
@adam-lynch can you post an example generator that reproduces the issue? I tried the following and was unable to reproduce it.

[code]

[2017-08-01 12:51] amwmedia commented on #66
@PaGury @nathanloisel ok, I think I've got a good idea of how to handle this but I'd like some feedback if possible. The core of the issue that I'm struggling with is how to know when special processing of the input is needed. What I've come to, is that it should be up to the prompt config. I'm thinking of adding a `bypass` option to the Question objects that would take a function to run on the an

[2017-08-01 16:45] adam-lynch commented on #82
@amwmedia

I tried to create a simple example but of course it worked then, so sorry here's the whole thing as it is right now:

[code]

[2017-08-01 17:17] amwmedia commented on #82
AHH! I think I see the problem here. So, you are `camelCase`ing your directory value which will remove the slash. You would need to create a custom helper that would `.split('/')`, `camelCase` each string, and then re`.join('/')` the output.

To be clear:
`camelCase("this here/that there"); // => "thisHereThatThere"`
`"this here/that there".split('/').map(camelCase).join('/'); // => "thisHere/that

[2017-08-01 17:52] adam-lynch commented on #82
Ugh, sorry about that 😄. Will do, thanks.

[2017-08-01 17:52] #82 closed

[2017-08-03 08:34] nathanloisel commented on #66
The only case I will use this feature, it's for string, number or boolean. It is complex to handle array and other complex types. I was thinking about using this kind of feature like on linux :
`$ plop myGenerator string "complex string with spaces" 100 y`
and answers will be :
`{
   "1stPrompt": "string",
   "2ndPrompt": "complex string with spaces",
   "3rdPrompt": 100 ,
   "4thPrompt": "true"
}

[2017-08-03 12:46] amwmedia commented on #66
I completely agree about keeping this as simple as possible. I'm currently dogfooding a solution that I think will work well. It essentially gives the prompt a way to coerce the input into something it understands. I'm also developing a default set of these functions that should work for the basic inquirer prompt types.

This approach allows you to type `y` as the answer for a confirmation prompt

[2017-08-07 13:46] amwmedia commented on #51
I've been thinking about this more lately and something hit me the other day. Wouldn't it be better to provide a way to generate a CLI from a plopfile? This would remove the whole step of installing `plop` from your "getting started" process. If we could make it super easy to build a custom CLI that uses the plopfile API to execute prompts and actions, wouldn't that be better than something that r

[2017-08-08 19:51] miklosme commented on #15
I wrote this generator first:

[code]

Then I rewrote it to this:

[code]

So not a big deal, only lost a few minutes on it, but I would expect the upper one to be correct.

By the way, great library, thank you!

[2017-08-08 20:34] amwmedia commented on #15
hmm, interesting point. I may add this in. Hadn't really thought of the use case where you have 3 files that all take the same object interface and a controlled way to switch between them with a prompt. 👍

[2017-08-22 23:44] MarcZenn opened #83 "addMany templateFiles Array"
Hi

I'm very new to plopjs and am having trouble with the `addMany` built-in action.

Currently I am working on a monorepository which contains a boilerplate react application.

I want to copy that entire directory (which contains a boilerplate react application) and place a copy of it elsewhere inside the same monorepo.

Here is my current plopfile.js:

[code]
and here is my the boilerplate appli

[2017-08-23 02:35] iwinux commented on #32
As a reference, Yeoman shows the diff of old / new files when conflict is detected.

[2017-08-23 15:03] amwmedia commented on #83
Thanks for all the detail! I'll look into this. @nicoespeon any initial thoughts?

[2017-08-23 15:32] amwmedia commented on #83
I found the issue. Currently, the `addMany` action only accepts a string instead of an array of strings because when we [pass the temlpateFiles to globby](https://github.com/amwmedia/node-plop/blob/master/src/actions/addMany.js#L30), we're putting it into an array. We'll get a fix in soon. Sorry for the trouble, hopefully now that you understand the issue, you'll be able to work around it some.

[2017-08-23 17:27] #83 closed

[2017-08-23 18:26] nicoespeon commented on #83
Thanks @amwmedia, you solved this quicker than me having a look at the question 😄

[2017-08-23 19:21] amwmedia commented on #83
😉 turned out to be pretty simple, but at first glance, I wasn't sure.

[2017-08-24 14:31] MarcZenn commented on #83
Wow thank you so much guys for the quick response! This definitely helps.

I'll keep an eye out for the fix.

Cheers!

[2017-08-24 14:54] nicoespeon commented on #83
@MarcZenn the fix is out with v1.8.1: https://github.com/amwmedia/plop/releases/tag/v1.8.1

Let us know how it turns out 😉

[2017-08-24 20:32] nicoespeon commented on #39
Hey!

Is that something we still want to do?

If so, I was thinking of a `plop.setStartingPrompt(message)` that could be called in plopfile to change the message. But I'd like your feeling on it: does it worth it?

If it does, I've got a quite clear idea about required changes, so it can be done pretty soon (as things are today 😉).

[2017-08-25 17:10] amwmedia commented on #39
yeah, that'd be great 👍. I've been meaning to get to some of these types of low-hanging-fruit tickets for a while but always seem to get consumed by things that are large... or look small but end up being large haha

[2017-08-25 17:27] #67 closed

[2017-08-25 20:14] aminimalanimal opened #86 "`templateFile` cannot parse image"
Is plop capable of duplicating an image to a different folder?

I'm trying to use a default image as a `templateFile` in my actions, but the command line chokes on the weird characters inside.

[code]

I assume this is occurring because plop is trying to walk through the file as though it is a handlebars template. I don't see any other option for straight-up duplication in the documentation. Is th

[2017-08-25 20:37] amwmedia commented on #86
the `add` action is used to generate new files from handlebar templates only. However, you can use [custom action functions](https://plopjs.com/documentation/#custom-action-function-) along side action objects. So, what you want to do could be achieved using an [npm package like `copy`](https://www.npmjs.com/package/copy)...

[code]

Seems like the community would really benefit from a [3rd party

[2017-08-28 06:47] nicoespeon commented on #51
🤔 I personally tend to install `plop` as a dev dependency and create a npm alias so people don't have to install plop if they don't want to. Doesn't it solve this need already?

Concerning the issue: we now have `addMany`. Do we still need to implement `copy` / `copyMany`?

For what I understand, this is something that can be achieved by `addMany` if there is no variable to replace − but I may be

[2017-08-29 05:13] amwmedia commented on #51
I can see why people want to be able to drop a whole seed project with a CLI instead of using a clonable repo like other projects have done. You get more control over how things are created, you can conditionally install certain parts of the codebase, etc. But I'm kind of unsure if it's better to have a package that is read by the plop binary (the way yeoman does it) or if there's a better, simple

[2017-08-29 17:25] nicoespeon commented on #15
I do understand too that the upper example was expected.
Plus, this is something that can be achieved anyway with the `plop.renderString()` method.

So either we don't want to "make it easy" to avoid "poor configurations" ; either we should parse templateFile through handlebars.

IMHO, as I said, I'd probably have expected templateFile to deal with handlebars variables, if I needed to.

@amwmedia

[2017-08-29 17:59] amwmedia commented on #15
I think it's probably best to process that value as a template for consistency sake

[2017-08-29 22:00] richardson-trevor opened #88 "Send custom info to the handlebars template"
Is it possible to send custom data to the handlebars template other than by prompts? For example, in an action it'd be awesome to have a `data` attribute or similar so I could do:
[code]
then in the handlebars template be able to do:
[code]
The problem we're having is that we have a single template that could be used by two different generators.  The only difference between the two usages would be

[2017-08-30 02:06] amwmedia commented on #88
I'll give some thought to ways that we can have data injected per action. I kind of like what you've proposed. For now, you can actually use the `when` function on the [inquirer question object](https://github.com/SBoudrias/Inquirer.js/#question) to grab a reference to the answers object and mutate it yourself before it gets to the actions.

[2017-08-30 02:24] richardson-trevor commented on #88
Excellent, I'll go that route for now and keep an eye here to see if you
decide to move in this direction. Thanks!
On Tue, Aug 29, 2017 at 9:06 PM Andrew Worcester <notifications@github.com>
wrote:

[2017-08-31 20:52] aminimalanimal commented on #86
I appreciate the help. I got it working with some minor changes to your snippet. For posterity's sake and for anyone that happens upon this when looking for a similar solution, I figured I'd note them here:
- the [version of `copy` I found](https://www.npmjs.com/package/copy) doesn't seem to have a `sync` method
- it seems to require you to pass an options argument with `{flatten: true}` in it so

[2017-08-31 22:46] kentcdodds opened #89 "add action should create missing directories"
If I use an `add` action and point to a directory that doesn't exist yet, I would expect that `plop` would create that directory for me. Am I missing something?

[2017-08-31 22:52] kentcdodds commented on #89
jkjkjk, I read an error message wrong, totally not a plop thing.

Thanks! I think we're going to use this to scaffold new apps at PayPal, maybe... :smile:

[2017-08-31 22:52] #89 closed

[2017-09-01 23:27] kentcdodds opened #90 "Support file overwrite"
With yeoman, if there's a file already in place and you want to write a file there, it will ask the user if they'd like to overwrite it. Is that a feature plop could have?

[2017-09-02 04:40] amwmedia commented on #90
It is certainly a possibility. I haven't seen it as a high priority so far because it seems to me that 90% of the time if my generator is going to overwrite something that is pre-existing, it means I need to backup and provide different input. Can you think of a real-world scenario where you'd want to actually overwrite?

[2017-09-02 04:43] amwmedia commented on #90
this is a duplicate of #32.

[2017-09-02 04:43] #90 closed

[2017-09-03 04:24] kentcdodds commented on #32
My use case is also for a generator. If someone wants to migrate from a custom project to my generator then they would need to be able to choose between overwrite all, overwrite none, or per-file overwrites.

[2017-09-03 22:04] nicoespeon commented on #15
Unfortunately, there is one regression we didn't thought about.

Let's say you named your template `my-name-is-{{dashCase name}}.txt`. With current implementation, this will parse the file name to use the variable you passed in to customize your file name.

If we do parse `templateFile` on the other side, then this won't work anymore.

What's your opinion on this? 🤔

[2017-09-04 03:16] amwmedia commented on #15
pondering... 🤔

[2017-09-05 06:53] nicoespeon commented on #15
From my point of view, I think both features could be useful. But they are conflicting.

But if we take care of both, we might complicate the API. I don't think this is a good idea. Or maybe there is a simple way to do that?

If we have to choose, then I'd say that having the template file name variable is handy and expected (template file and its content are parsed). Being able to dynamically cho

[2017-09-05 08:59] miklosme commented on #15
As an alternative, you could just describe the situation when the lib can't find a template file with `/{{(.+)}}/` in it.

[2017-09-05 11:41] amwmedia commented on #15
using a `templateFile` with a template string in the path is currently only used for `addMany` because in the `add` action you specify the full path to the template separate from the full path to the destination file. So we could conceivably tweak the `add` action to handle the `templateFile` as a template, while the `addMany` action uses globs to find templates. I'm still not 100% sold on this ju

[2017-09-06 06:56] nicoespeon commented on #15
I think you can already change the path dynamically without interrupting the API, using the actions function as @miklosme did. So I don't think it's necessary to make `templateFile` accept a function.

You're right too: template string in the path of template files is only used for `addMany`. So that would mean we could make it work for the `add` and `modify` actions, but not for the `addMany`.

I

[2017-09-10 21:19] brigand opened #91 "Modify action with function"
Awesome tool! I find myself making more small files because it's less effort, and my code is better for it.

It'd be very helpful if modify accepted a function that receives the file content as a string, and in the success case it returns a string or promise of a string. In the fail case, it throws an error or returns a rejected promise.

Example use case from another issue https://github.com/amwm

[2017-09-12 12:42] amwmedia commented on #91
I think this would make a lot of sense as a third party action. I've been meaning to write a 3rd party action myself so that there could be an example repo of how they are built and consumed. If you want to take a stab at writing this, I'd be happy to help collaborate on how to write it so it's easy for other plopfiles to consume. If not, I may try to do this myself when I have time.

[2017-09-14 12:16] amwmedia commented on #15
We might actually be able to make it work for `addMany` as well if we call `renderString()` before we pass the path value to globby. That way you have the ability to use templating in the actual `templateFile` property AND the rendered destination could still use the template data in the file name.

If someone really wanted to name a template file with `{{template}}` stuff inside, and still refere

[2017-09-15 01:39] brigand commented on #91
@amwmedia is there any special api for it, or the module should be a function that returns a function?

[2017-09-15 02:02] amwmedia commented on #91
@brigand not really. There are some [api functions](https://plopjs.com/documentation/#other-methods) that you may be interested in when you're using this type of approach (like `setDefaultInclude()`), but the node module is just a standard plopfile that your package.json lists in its `main` property. I created [an example codebase](https://github.com/amwmedia/plop-pack-fancy-comments) that distrib

[2017-09-19 18:30] nicoespeon commented on #15
I guess this should work 🤔

It sounds reasonable. I'll give it a try when I've got some free time.

[2017-09-21 20:47] amwmedia commented on #66
@PaGury [you might be interested in seeing this](https://monosnap.com/file/d48Whix7CCCmtCNJcZLvKYmAzgc1fg#). This feature is done and almost ready to ship. 🎉

[2017-09-22 08:13] PaGury commented on #66
Nice ! :D

[2017-09-22 15:00] #39 closed

[2017-10-02 15:29] amwmedia commented on #66
added in [plop v1.9.0](https://github.com/amwmedia/plop/releases/tag/v1.9.0)

[2017-10-02 15:29] #66 closed

[2017-10-02 15:29] amwmedia commented on #15
added in [plop v1.9.0](https://github.com/amwmedia/plop/releases/tag/v1.9.0)

[2017-10-02 15:29] #15 closed

[2017-10-13 15:49] GeeWee opened #94 "Plop skips validation if the argument is given in the CLI"
Hi. I've noticed that plop skips inquirer validation if the prompt is given in the CLI.
Take the following example. This should always fail

[code]
![image](https://user-images.githubusercontent.com/6381792/31554680-9a69d490-b03e-11e7-88ac-ff0908f93b2e.png)

As it does.

However when using the shorthand it skips the validation:

![image](https://user-images.githubusercontent.com/6381792/31554738-c

[2017-10-13 15:50] GeeWee commented on #61
[bambuu](bambuu.dk) use it for react component scaffolding.

[2017-10-13 15:53] amwmedia commented on #94
agreed, this is something that we should definitely add. Thanks for calling it out!

[2017-10-25 21:55] zachwolf opened #95 "CLI conditional prompts issue"
Hello!

Thanks for the very useful tool.

I'm having a bit of trouble and I haven't been able to find any docs about the issue. I've created [a reduced test case](https://github.com/zachwolf/plop-test/tree/master), but I'll try to break it down here as well.

I want to use the CLI to generate files. However, I also need to support conditional inputs. Plop seems to throw errors even when answering

[2017-10-26 13:34] amwmedia commented on #95
Hey Zach, the current way in which we accomplish the "bypass" functionality is by taking the user's input and matching it up to the prompts (in order).

We basically filter down the prompts to a new set of prompts that have NOT been answered by the user's CLI input and run those through inquirer.

If we were to support dynamic prompts, we would need to rethink the approach to use a more dynamic an

[2017-10-26 15:46] zachwolf commented on #95
Thanks for the response. I think I understand how you're describing the underlying issue.

As for my use case, I have a React framework that I'm creating generators for. One of the generators is for a react component with options to include redux store access and a handful of other options. If a user selects to include redux store access, I want to offer the option to also create the corresponding

[2017-10-26 17:19] amwmedia commented on #95
if you are looking to automate the process of running plop generators, you should look at [node-plop](https://github.com/amwmedia/node-plop). This is the core logic that plop uses to do all of its work. There's no real documentation around it, but I believe your use-case is addressed by the example code you see in the readme.md file. If you have questions or issues getting it to do what you want,

[2017-10-27 18:27] zachwolf commented on #95
Awesome response, I will check out `node-plop`. Thanks for helping me out here

[2017-11-02 08:58] kristianmandrup opened #96 "Documentation: How are path names resolved?"
I'm trying to build out my generators in a structural way with subfolders for each generator etc.
How are the template paths resolved?

In short, for now I want to copy a boilerplate project structure to a destination folder, the `appName` relative to where I run my plop generator from (best practice?)

[code]

Is this correct? or what am I missing?
Would be nice with some better docs on this. Are

[2017-11-02 09:15] kristianmandrup opened #97 "Testing plop generators without polluting file system?"
Does anyone have a good recipe for how to test a plop generator!?

Trying to use [mock-fs](https://github.com/tschaub/mock-fs) with [inquirer-test](https://github.com/ewnd9/inquirer-test) so far ...

[2017-11-02 13:51] amwmedia commented on #96
Relative `templateFile` paths are resolved relative to the location of the `plopfile`. You are able to provide absolute paths and plop will respect those as absolute. From what you have above, it looks to me like your `destination` could be problematic. It's using an ES6 template string that would try to resolve before the prompt data came back. So if `appName` is a prompt value, I think your dest

[2017-11-02 13:53] amwmedia commented on #97
when I setup unit tests for `node-plop` I tried to get mock-fs and other similar solutions working, but I ended up just creating folders and then removing them later. I'd be interested to know if anyone else has a better approach.

[2017-11-07 15:54] mickdekkers commented on #88
Unfortunately, the `when` workaround seems to be incompatible with the bypass feature because of #95

If you have a `when` function that just modifies the data object and returns true, you'll get a
[code]
message when you try to use bypass.

[2017-11-07 16:13] amwmedia commented on #88
Thanks for the feedback, it might make sense to add a more official way to do this soon as the `when` function approach definitely feels kludgy.

[2017-11-16 16:49] danbopes commented on #81
This really needs better documentation.

[2017-12-15 16:43] benmvp opened #99 "plop v 1.9.0 no longer works in Node 4"
[This commit](https://github.com/amwmedia/plop/commit/d07972ba0f6ce87545a87f84ba4224425b55254e#diff-f538aaae58c1b6494422ff25011eff65R11) in #87 adds a default parameter which isn't supported in Node 4. There may be others, but this is the error Node first hit when I tried to run `plop` in Node 4.

So I can think of two solutions:

1. We change the code to work in Node 4
2. We update the `engines`

[2017-12-15 17:09] benmvp commented on #99
By the way, the library is awesome! 🎉

[2017-12-16 11:14] nicoespeon commented on #99
Hi @benmvp!

From my point of view − as I did this commit − I'd go for solution 1 and fix that so it still works in Node 4. That'd be easy, I just forgot about it when I used this syntax 😅

[2017-12-18 04:07] BenAtEventbrite commented on #99
Cool. 😄  I'll submit a PR tomorrow!

[2017-12-18 13:39] amwmedia commented on #99
agreed. Although, I will say that we'll be breaking compatibility with Node 4 soon anyway because inquirer has done so and we need to keep up to date with the latest version of our dependencies. I was planning to increment the major version at that point, so fixing this, for now, is probably the right thing to do 👍

[2017-12-18 16:59] #99 closed

[2017-12-19 03:29] benmvp commented on #99
I saw with 58e3eb810e4b4e1556fb4e534b4551400197f4ff that you bumped to 1.9.1, but I'm not seeing it in NPM. Did the release actually work? https://yarnpkg.com/en/package/plop

[2017-12-19 22:14] amwmedia commented on #99
sorry, I got pull away and didn't actually publish it to NPM. should be out there now.

[2017-12-21 18:46] benmvp commented on #99
No worries! Just verified I could install it AND that it works in Node 4! 🎉

Thanks again!

[2017-12-21 19:41] benmvp commented on #10
Two year old issue, but I'll jump in anyway. I was gonna create a separate issue, but this seems relevant. I wanted to ask if you ever considered moving away from Handlebars into something like [EJS](http://ejs.co/)?

Handlebars' built-in plug-ins are so limited it makes my template code so messy. I'd rather not have to create a custom plugin just to compare 2 values or to do an `||` expression. E

[2017-12-22 19:35] amwmedia commented on #10
I'll give it some thought. I wouldn't be opposed to creating a path where someone could plug in a different template engine, but I would probably want to keep Handlebars as the default for simplicity. There might be a way to provide hooks to basically bypass Handlebars and pipe the template data into another system... 🤔

[2017-12-22 20:00] benmvp commented on #10
Yeah I think it's wise to keep Handlebars as a default.

In trying to get passed Handlebars' limitations a did a lot of code spelunking in `plop` & `node-plop`, so I could look into what it would look like to configure `plop` to use a different templating language. Hopefully I'll have time to investigate.

Thanks!

[2017-12-28 15:22] amwmedia commented on #10
@benmvp that would be great. I'm thinking that we might be able to add a plop api method that would register a function to take over template rendering (something like `setTemplateRenderer`). Plop could basically call that renderer method with the template and data object if it is present and bypass handlebars altogether.

Thoughts?

[2017-12-28 15:25] amwmedia commented on #10
Another possibility would be to simply add a lifecycle hook that would execute prior to template rendering. Handlebars could still process the result, but if there's nothing for handlebars to do, then the data would simply pass through.

[2017-12-28 17:36] benmvp commented on #10
Yep the `setTemplateRenderer` was what I was thinking as well. Nice!

What's the advantage of having Handlebars process after the lifecycle hook? I'm not seeing the use-case where you'd want double processing. Is it just the limit the scope of the change of supporting a different renderer?

[2017-12-28 19:13] amwmedia commented on #10
My thought was that there might be a desire to use EJS without breaking existing Handlebar generators. By keeping the handlebar processing, a plopfile could be migrated to a new rendering engine over time.

Maybe the ideal setup is one that allows the rendering engine method to be a config attribute on the setGenerator() object, rather than forcing it to be set globally for the whole plopfile. hmm

[2017-12-28 21:05] benmvp commented on #10
Good point. We don't want it as easy as possible for folks to migrate over. Having it as a config property on `setGenerator()` means you could still have your existing generators & templates running on handlebars, but add a new generator that uses EJS. Then slowly transition (as necessary).

I would be annoying though if you're starting fresh (like I was 2 weeks ago), and you had to specify EJS fo

[2017-12-29 14:57] amwmedia commented on #10
I wonder if a more generic way to set defaults might be the way to go. We could use something like `plop.setGeneratorDefaults({ ... })` to set a base configuration that all generators would inherit from. That would make future configurations like this pretty simple.

[2017-12-29 22:22] benmvp commented on #10
yep that makes sense!

[2017-12-30 01:07] benmvp commented on #10
I'll put together an updated API draft + a high-level spec of the necessary changes here and in `node-plop` to run by you. Then if you give the 👍, I'll work on an implementation.

[2018-01-03 13:33] macrozone opened #101 "built-in actions / add conditionally"
Awesome project!

I am playing around with it at this point and i found this pattern that i want to solve:

- create index file if it does not exist
- update index file to import xxx from './xxx'

this works by using an `add` with `abortOnFail: false` following a `modify`
but it will always show an error (altough it will not abort). This is confusing for the user.

so is it possible to either

- s

[2018-01-03 15:46] amwmedia commented on #101
I agree that there's a lot of benefit to having a globally handled `when()` attribute for actions (similar to prompts). Right now you can achieve this by [using a dynamic actions array](https://plopjs.com/documentation/#using-a-dynamic-actions-array) but that's more complicated than it needs to be.

[2018-01-03 15:49] amwmedia commented on #97
@kristianmandrup were you able to have any luck with this?

[2018-01-03 15:49] #97 closed

[2018-01-03 15:51] #95 closed

[2018-01-03 15:52] #91 closed

[2018-01-03 15:53] #86 closed

[2018-01-03 23:33] blling commented on #80
Hi, guys, how to prettier the generated js file?

[2018-01-04 09:39] macrozone commented on #101
@amwmedia I currently used this:

[code]

but yeah, it could be easier though. Can i let this open?

[2018-01-04 09:55] macrozone opened #102 "insert after pattern in "modify" instead of replacing pattern"
I have a generator that appends items based on a template to a list:

[code]

Then i can append items to LIST with this:

[code]

This works, but it's easy to forget the `$1` in the `list-item-template`. It's needed, otherwise the "magic" comment `/* 💬 LIST */` will be removed and this modification only works once.

Maybe we need another type `append` which looks for a pattern and appends `templat

[2018-01-04 14:57] amwmedia commented on #101
Yes, we'll leave this open as a TODO :+1:

[2018-01-04 15:17] macrozone commented on #102
ok i created a PR for that: https://github.com/amwmedia/node-plop/pull/56

[2018-01-05 11:45] macrozone opened #103 "[idea] call other actions in custom actions (setActionType)"
In custom action, it should be possible to call an array of other actions.

e.g.

[code]

Then one can use that to define multiply different component generators, e.g. for ui primitives, layouts or more complex components, but all are created with a storybook story and a test.

This would make setActionType much more powerful

[2018-01-05 12:21] macrozone opened #104 "disable handlebar html escape"
I ran into the following situation:

i did a generator for a reducer where you can define an initial state with its initial value,

e.g.

`theme: "default"`

a template for this might look like this:

`{{propertyName}}: {{initialValue}}`

Because initialValue could be anything (true, 42, "Rosebud", null, undefined), i probably would not put quotes in the template, so the user would need to pass th

[2018-01-05 13:57] macrozone commented on #103
i did a pr for that: https://github.com/amwmedia/node-plop/pull/58

[2018-01-05 13:59] amwmedia commented on #104
I see your point. However, I don't think it would be good to alter Handlebars' default rendering behavior by default in plop because I think that could cause even more confusion. People can use plop to generate all sorts of files, JS, HTML, CSS, etc. So, while this may seem counter-intuitive in some cases, in other cases it is entirely expected behavior.

[2018-01-05 14:01] amwmedia commented on #103
interesting idea... I'll take a look at your PR for the details

[2018-01-05 14:25] macrozone commented on #88
checkouthttps://github.com/amwmedia/node-plop/pull/59

[2018-01-05 14:32] macrozone commented on #80
with my change described in here https://github.com/amwmedia/plop/issues/103

it might be possible to do something like:

[code]

given you have a custom action named `prettier` or `lint`

[2018-01-05 14:36] macrozone commented on #104
@amwmedia agree on that, but i believe that plop is far far more used to generate code than html ;-)

but yeah, this would be breaking so maybe we should have an option on a generator

[2018-01-05 15:17] macrozone commented on #101
see PR above for a part-solution

[2018-01-05 16:24] macrozone opened #105 "Generator "templates" / "base generators" / mixins"
I want to allow my users to create generators that all follow a certain convention.

E.g. the generator will place every generated element in a certain module-folder (which has a modulename) and which will create that folder if it does not exist.

What i did now is create a helper function  that wraps `plop.setGenerator` and mutates the prompts and actions:

[code]

and you can use it like this:

[2018-01-05 16:43] macrozone commented on #105
There is a similar approach that does not need to introduce a new type:

- generators can have a new config property `baseGenerator`
- in `setGenerator` the config can now be a function, identical to the `plop.setGeneratorTemplate` example above . If this generator is used as a base, the extended config is passed to that function (otherway, its just an empty object)

So taking the example from abo

[2018-01-07 01:56] blling commented on #80
Where is your `prettier' action come from?

[2018-01-07 11:17] macrozone commented on #80
nowhere. Its just an approach to solve the api discussion from above.

You would have to implement it as a custom action

[2018-01-07 15:12] amwmedia commented on #80
There is also plop-prettier https://www.npmjs.com/package/plop-prettier

[2018-01-07 15:15] macrozone commented on #80
@amwmedia yeah, but it duplicates the add-logic, which can be avoided by composing actions like in  https://github.com/amwmedia/plop/issues/103 :-)

[2018-01-07 18:57] macrozone commented on #105
ok i played around with it and I realized that the cleanest way is probably introducing a new entity "Generator mixin", which is similar to the approach above with the "baseGenerator".

Here is an example (taken from the unit test):

[code]

[2018-01-11 18:34] benmvp commented on #10
Ok, sorry for the delay. Got back from break this week and was able to start thinking through the API. It looks like the entirety of the API is in `node-plop`, with `plop` just being the CLI runner.

This is just an initial stab at it, so I'd love your feedback. Let me know if you think there's a better environment to work through this

-----

# `setGeneratorDefaults()`

New method that sets a bas

[2018-01-25 13:16] macrozone opened #106 "destBasePath can't be set"
altough its used in the code, there is no way to define destBasePath in the plopfile

So if you provide a plop-pack which creates a certain folder structure, you have to introduce your own config to do so, you can't use config.destBasePath

[2018-01-26 14:17] amwmedia commented on #106
the destination base path is the directory where the plopfile is found. This property can be set if you are using node-plop, but it is used internally to tell other plopfiles that have been loaded via `plop.load()` where to put their files.

[2018-01-26 19:32] benmvp commented on #10
@amwmedia any thoughts on this?

[2018-01-29 21:49] amwmedia commented on #10
@benmvp sorry for the delay, I'm ready over this and will respond soon.

[2018-01-30 13:58] amwmedia commented on #10
ok, I think I have an idea of how we can do this and introduce a little less mental overhead.

### New `plop.apiMethods()`
- `plop.setGeneratorDefaults(configObject)`: As you described above, a method to define a set of default values for any property that the generator config object supports
- `plop.getGeneratorDefaults()`: gets the defined default config object.
- `plop.setTemplateRenderer(name,

[2018-01-31 17:26] benmvp commented on #10
I think this sounds good. I'm assuming if you don't specify `templateRenderer` on the generator config you get the default handlebars?

I really like passing in `plop` to the `renderFunction` which allows you to basically get any info you want.

So rewriting my sample plopfile from above would look like:

[code]

The only thing funky is the `helpers` part. The interesting thing is that the library

[2018-01-31 20:09] amwmedia commented on #10
yeah, I could see these `get` methods being added for all of the main data types (generators, helpers, partials, actionTypes, and templateRenderers). Definitely saves a step when you need to work with that data.

[2018-01-31 20:14] amwmedia commented on #10
your modified example looks good, but (in reality) the eventual usage would probably look more like...

[code]

[2018-01-31 22:43] benmvp commented on #10
Ahhh... I see. Hadn't really investigated `plop.load()`. So the `setTemplateRenderer()` part would go in a new NPM package called `plop-ejs`:

[code]

?

[2018-01-31 22:45] benmvp commented on #10
I think we've got the API in a solid place, so I'll start dev on it.

[2018-02-01 10:10] macrozone commented on #106
@amwmedia yeah, saw that to, but that does not solve or answer the issue.

imaging you develop a plop-pack that defines generators that create a certain folder structure, e.g. /src/components, /src/containers, /src/actions, etc.

now, you want to enable your users to change /src to something else, or to nest it further.

for that, you would need to define the destBasePath.

[2018-02-01 12:56] amwmedia commented on #10
great, thanks!

[2018-02-01 13:01] amwmedia commented on #106
AH! ok, now I understand the request. for a plop-pack, you would specify an attribute on the second parameter of the `plop.load()` method ([config](https://github.com/amwmedia/plop/blob/master/plop-load.md#config)). This is your object that consumers can use to configure your plop-pack.

I hope that helps.

[2018-02-01 13:02] macrozone commented on #106
@amwmedia yes, that would be the workaround. But i thought destBasePath would be exactly for this us e case. Now i need to implement a custom version of it...

[2018-02-01 13:25] amwmedia commented on #105
hey @macrozone, somehow I didn't see this until now... not sure how I missed it :frowning_face:. I'm not sure that what you are proposing here belongs as a new entity within the plop api. You can achieve the same result with a function (as you mention) or a `Class` that generates the generator config.

example: `plop.setGenerator('something', new ModuleGenerator({config}));`

I think that adding t

[2018-02-01 13:32] amwmedia commented on #106
`destBasePath` is used internally to map `plop.load`ed generators to the same basic root folder as their consumer. Prior to `plop.load` the generators in an npm module would need to define their action's destination paths with enough `../../` pathing to get them out of `node_modules` and back to the consuming codebase.

the config object isn't really a workaround, it is there for this purpose. It

[2018-02-01 13:55] macrozone commented on #105
@amwmedia

A:

[code]

B:

[code]

**A** fits more to how plop handles generators, actions and entities.
Not sure if **B** is really less "cognitive overhead" as it all of sudden introduce an import statement where everything else is loaded via plop.

[2018-02-01 16:40] amwmedia commented on #105
I believe B is easier to understand because I know that setGenerator takes a `name` and a `config` object. I also know that constructor functions are a way to generate objects in a consistent way. So I understand B without knowing what a `mixin` is and how it relates to generators. I also think that you could run into some real trouble when you try to combine mixins and they both control the outpu

[2018-02-01 16:57] macrozone commented on #105
"I believe B is easier to understand because I know that setGenerator takes a name and a config object. " --> that makes no sense. This is the case in A, not B (mixins is just a config property).

"My assumption is that this is a bit of an edge case."

Propably, probably not. I am missing this feature. You could also providing mixins like linting or pretty every file that has been generated. I thi

[2018-02-01 17:01] macrozone commented on #106
so destBasePath should be renamed to someting like plopFilePath ? because it clearly says: this is the folder where every file will get created. And that's a folder the user clearly want to be able to set.

I tried to set it on `plop.load("myploppack", {destBasePath: "./src"})` but this does not work

[2018-02-01 17:30] amwmedia commented on #105
"that makes no sense. This is the case in A, not B (mixins is just a config property)" --> What I'm trying to say here is that the concept of a "mixin" is extra. A constructor function is a standard way to create objects in JavaScript, so I already know what is happening here. The constructor function will generate an object and the setGenerator method takes an object.

I would think that linting

[2018-02-01 17:40] amwmedia commented on #106
`plopfilePath` is actually another thing altogether. The complexity here is that a `load`ed generator should find a template locally (in node_modules), but drop its generated code into the `plopfilePath` of the consuming plopfile.

[2018-02-01 20:10] #88 closed

[2018-02-02 14:17] amwmedia commented on #102
this has been merged and slated for release in v2.0

[2018-02-02 14:17] #102 closed

[2018-02-02 20:46] amwmedia commented on #104
I think this could go nicely with the work that is being proposed in #10. Another templateRenderer could easily be created called `handlebarsNoEscape`. Or a 3rd party handlebars templateRenderer could be `plop.load`ed and accept a handlebars config object.

[2018-02-13 16:31] backflip opened #107 "Modify path"
If I'm interpreting https://github.com/amwmedia/node-plop/blob/master/src/actions/modify.js#L25-L28 correctly, the `modify` action does not allow to change the path. Is there a recommendation for moving/renaming files while modifying them? I'm currently relying on a custom action with Gulp for this since I'm using it in other places anyway, but I'm not sure whether there would be a better solution

[2018-02-13 20:29] benmvp commented on #10
Hey @amwmedia! So we missed one **big** part of this and that's `renderString(template, data)`. As you're no doubt aware, it's used by **everything** and now we'd need it to work w/in the context of a template renderer.

I'm thinking we can update it to take an optional third `templateRenderer` property which will use that template renderer, otherwise it'll use the default. We can start off w/ mos

[2018-02-14 12:01] amwmedia commented on #107
Currently a custom action would be the way to go for this. Maybe if you could explain your use case a little more, another solution might come to mind? I'm having trouble understanding why you would want to "modify and move" some files around your codebase.

[2018-02-14 12:05] amwmedia commented on #10
@benmvp hmmmm, I'll look into this in more detail today. I actually had a moment there where something inside me said "that was almost... too easy". 😐

[2018-02-14 15:42] backflip commented on #107
It’s mostly about renaming components. For this they need to be moved as well as slightly refactored (renaming of class names etc.).

[2018-02-14 16:07] backflip commented on #107
The class renaming could be taken care of by a capable IDE though.

[2018-02-15 02:12] amwmedia commented on #107
Are you building a one time script to mass refactor a codebase? Like something you might use jscodeshift for?

[2018-02-22 17:22] jorycunningham commented on #61
We use it at [Vimeo](https://vimeo.com) to scaffold new React-based UI components for our shared UI Library.

[2018-03-04 19:09] ArTiSTiX opened #108 "Use lastest (master version) of node-plop with CLI"
I'm trying to use some earliest features of node-plop (append action, manually passing data to actions, ...), but i can't figure out how to install plop globally with the latest version of node-plop from master branch.

When are you planning to upgrade version though ?
Those new features are really useful, and i don't want to lose time waiting for it, or do a work-around to always be up-to-date (i

[2018-03-05 13:37] amwmedia commented on #108
I'll try to get this published today. Sorry, I don't normally let things wait for so long... things got really busy for me. I'll at least get node-plop out there today

[2018-03-05 16:11] amwmedia commented on #108
v0.13.0 is now on NPM

[2018-03-05 16:11] #108 closed

[2018-03-05 18:00] ArTiSTiX commented on #108
@amwmedia Thanks, amazing !

[2018-03-05 18:13] amwmedia commented on #101
added in v2.0 I believe there's another issue open for the idea of adding a `when()` function for actions. so I'm going to close this one.

[2018-03-05 18:13] #101 closed

[2018-03-05 18:16] amwmedia commented on #94
fixed in v2.0

[2018-03-05 18:16] #94 closed

[2018-03-08 08:12] mritzco commented on #33
I created a custom action type to add data to my config.json file.
Tried to follow the plop style to keep it customizable.

https://gist.github.com/mritzco/88306b56c0184e66e33374d6b6ed2751

[2018-03-08 13:59] amwmedia commented on #33
nice! You could publish this out as an NPM module that others can use via [plop.load()](https://github.com/amwmedia/plop/blob/master/plop-load.md). If you want to do that and need help, let me know.

[2018-03-08 14:54] crutchcorn commented on #104
I just wanted to leave my thoughts. I completely agree with @amwmedia. Having different default behavior than what Handlebar's docs initially lay out is confusing and potentially harmful to the experience. I think that having a seperate template renderer is probably the most ideal workaround - allowing different functionality for those that need it

[2018-03-08 14:56] crutchcorn opened #109 "Pass arguments by name"
Though I know that argument bypassing was added in v1.9.0, I am looking for functionality that would allow you to have a plopfile like such:
[code]

And be able to pass in CLI args like:
`plop --plopfile ploppy.js gen -- --name "This is a test" --server`

[2018-03-08 16:40] amwmedia commented on #109
this type of approach was certainly considered [when planning the bypass feature](https://github.com/amwmedia/plop/issues/66). It was not the preferred approach because the name of the prompt is not known to anyone by the generator author. The options for `name`, `server`, `client`, etc would need to be documented in some way so that the user of the generator could know how to correctly form their

[2018-03-08 16:47] amwmedia commented on #109
so with your example code above... a user could type `plop generator-name --help` and get something like...
[code]

then the options would be discoverable. Behind the scenes, the plopCLI would just form the correct series of input values, so the end result would be the same regardless of which input method was used

[2018-03-08 20:26] crutchcorn commented on #109
While I understand the design concerns where documentation remains an issue, I'd argue that the same needs to be done when using the bypass feature, but in a more confusing way. How does someone know the order in which things are defined in the plopfile?

That being said, I couldn't agree more - automated generation of help documentation based off of docstrings or additional inputs to a prompt (wh

[2018-03-12 07:30] macrozone commented on #105
I tried to revisit that and tried to remove the mixins from my ploppack as this not seems to get merged.  But its hard to do. I need the plopfileconfig in my mixins and without a first-citizen api, this will get nasty:

[code]

[2018-03-12 07:30] #105 closed

[2018-03-12 20:40] amwmedia commented on #105
is the part that "gets nasty" the fact that you have to pass the config in at 2 places? just want to be sure I understand your concern.

[2018-03-12 20:59] amwmedia commented on #109
so, the logic behind the existing implementation is that a user of the generator is familiar with the order of the prompts because they are always the same. This logic breaks down with more complicated generators where you have many questions being asked but works really well for the common case of a generator with 1 - 3 prompts.

I completely agree that it makes sense to have an optional `help` p

[2018-03-12 21:09] crutchcorn commented on #109
I can understand the logic provided - and think it was some nice syntatical sugar for those using their favorite familiar plop generators. No offense meant when I was raising issues with it - I really truly love and respect the work you've done on this great project.

I was thinking about using the bypass functionality under the hood. No need to fix what ain't broke.

I totally agree that changes

[2018-03-12 21:54] amwmedia commented on #109
No offense taken 😁. I provide the backstory for context. I really like the idea of having generator help screens that are programmatically handled. I didn't think of that before, but I think it's pretty awesome

[2018-03-15 09:35] mritzco commented on #33
I'll happily do! Just publish to npm or any specific requirements?

[2018-03-16 15:10] crutchcorn commented on #109
I'm mostly done with the impamentations, here's a few things that I've had to make the decision on:

- You are able to combine bypassing by array and by name. (Using my example, `plop generate "This is a name" -- --server`). However, it is important to note that plop will prefer named values over array bypassed ones (`plop generate "Test" -- --name "Hi"` will give you `("Hi", "_", "_")`)
- You wil

[2018-03-16 15:44] amwmedia commented on #109
Great!

- I like the combination approach and I think it's fine that named values will take priority.
- perfect! I love that we'll be showing the help screen when they provide named values that aren't correct.

I'm not sure I understand what you mean by "_ would cause an input that's not allowed or handled incorrectly". Can you elaborate? I would be worried that if we use "undefined", we're reserv

[2018-03-16 15:50] crutchcorn commented on #109
All I meant is that if a user wanted to input `"_"`, they wouldn't be able to as we're reserving words (just as you mentioned is the issue with using "undefined"). However, I wasn't suggesting we use the string `"undefined"`, I instead meant that we should use JS' `undefined` type in the array and use `node-plop` to prompt for any `undefined` or `null` inputs to the bypass array (this functionalit

[2018-03-16 20:39] amwmedia commented on #109
ah, I see. the current bypass functionality supports `_` as a way to say "prompt me for this one". We could process the current bypass input so that `_` is turned into `undefined` behind the scenes. That way the existing behavior of `plop component "name" _ "something else"` would work, but doing something like `plop component -- --name _` would actually result in the value of `name` being the str

[2018-03-17 22:33] crutchcorn commented on #109
Looking further into changing `'_'` to `undefined` in the client side itself, I realize that we'd have to make a change to `node-plop` that would be a breaking change. I'm unsure if you're wanting to do such a major breaking change for such a minor feature gain. What I'll go ahead and do is finish up my work here with everything else, not worry about `'_'` passing and then we can create a new bug

[2018-03-18 15:34] macrozone commented on #105
@amwmedia yes, exactly! Sorry for the bad wording.

- you have to pass the config twice
- and you have to load the "ploppack" twice (once with require/import and once with plop.load)

I think the underlying problem is because node-plop's architecture does not allow customizing it in a more advance way, you are stuck with the existing api (setGenerator, setAction, etc.), otherwise you have to monke

[2018-03-18 15:39] macrozone commented on #106
@amwmedia yes, but that's not what i meant.

There needs to be multiple path that have nothing to do with each other:

- plopfile path: is the path to the plopfile inside the project (at the root of the project)
- destBasePath: the path where files will be created. Should be customizable by the project-team (via plopfile)
- templatePath (?): should either point to the template directory inside of

[2018-03-18 17:55] macrozone opened #112 "handlebars removes certain strings with `false`"
this is really weird. I have this template file:

[code]

e.g.

[code]

it renders as expected:

[code]

but with

[code]

it renders

[code]

it even removes `navigationVisible: ` (!)

any other value seems to work, including "null"

this is extremly weird and looks like there is some additonal processing in handlebars. any idea?

[2018-03-18 18:01] macrozone commented on #104
I found another issue https://github.com/amwmedia/plop/issues/112

i believe that handlebars is the wrong tool for code generation. handlebars is made for html.

[2018-03-18 18:31] macrozone commented on #112
workaround is to use the string `"Boolean(false)"`

[2018-03-19 14:44] crutchcorn commented on #104
Simply speaking for myself and not for the project:

Explain WHY handlebars is the wrong tool for code generation. There's nothing about it that's explicitly for HTML coding and even escaping has it's uses outside of HTML. I would suggest becoming more comfortable with the limitations and abilities handlebars has.

As a seperate idea - there is already work being done to allow for handlebars repla

[2018-03-19 21:18] amwmedia commented on #112
I wasn't able to reproduce the issue described here on http://tryhandlebarsjs.com/. Are you able to?

[2018-04-05 15:51] amwmedia commented on #112
@macrozone ?

[2018-04-06 13:49] amwmedia commented on #106
For simplicity, plop take the approach that everything is based on the plopfile location. All destination paths are relative to the plopfile location, all templates are located relative to the plopfile location, etc. This allows you to execute the `plop` command from anywhere inside the project and have files created in the correct places (the current working directory doesn't matter). The only re

[2018-04-10 15:05] amwmedia commented on #10
it's still on "my list" but unfortunately, my calendar blew up at work and home so I haven't been able to find much time. I suppose we would need to handle this the same way as we would for the generators. Like you say, we could accept a 3rd (optional) param that would be the `templateRenderer` value (ie "ejs") but would default to "handlebars" if unspecified. The `renderString` function would nee

[2018-04-10 19:27] benmvp commented on #10
👍  I'll just try to put something together and we can work from there

[2018-04-18 20:07] amwmedia commented on #112
I tried to reproduce this issue but was able to.

[2018-04-18 20:07] #112 closed

[2018-04-18 23:15] #107 closed

[2018-04-18 23:15] #106 closed

[2018-04-18 23:15] #104 closed

[2018-04-18 23:16] #96 closed

[2018-04-19 06:53] backflip commented on #107
It’s only about occasional renaming of single components. But thanks for pointing out jscodeshift, I’ll have a look!

[2018-04-19 12:38] amwmedia commented on #107
What I have personally done for renaming a component, is just `plop` a new component with the name I want and copy the file contents from the old to the new. Reversing what the template does so you can rename `component-a` to `component-b` can be brittle because it joins those 2 generators at the hip so that a change to one requires a change to the other.

All that said, if you wanted to build a `

[2018-04-19 12:47] amwmedia commented on #33
Sorry for the delay on this response. You can look at [this repo](https://github.com/amwmedia/plop-pack-fancy-comments) as a guide to how this is done. I'm going to try to get more instructional content together soon.

[2018-04-29 16:01] gpmcadam opened #113 "Modify destination file name/extension"
I have a template that looks like this:

[code]

Two things I'd like to do with an `addMany`:

 1. Rename some of the destination files e.g. `Component.css.hbs` to `{{name}}.css`, but _not_ `index.js.hbs`
 2. Similar to the above, drop the `.hbs` extension for all destination files (leaving them with their proper extensions, in this case, `.js` or `.css`)

I have the following `addMany` configurat

[2018-05-14 21:42] jessica-yang opened #114 "addMany ignores hidden files"
I have .nvmrc and .npmrc files in my `templateFiles`, but they do not get copied over. I have tried doing this:

[code]

[code]

Can someone help me resolve this? Thanks!

[2018-05-15 20:39] amwmedia commented on #113
point 1 can be achieved by using handlebar template values in the actual names of the template files. So in the component folder you would have the a file named `{{dashCase name}}.js`. point 2 is a little harder, there's no current way to rename the templates on their way to the destination folder. If you want the destination to have a `.js` file, the template will also need to be a `.js` file.

[2018-05-15 20:39] #113 closed

[2018-05-21 19:55] forthrightstl opened #115 "plop command not found"
Installing on a Mac, the `.bash_profile` isn't getting updated.  Looking in the code, there's no binary to run.

What should a plop alias point to?

[2018-05-22 02:06] amwmedia commented on #115
Are you installing via npm?

[2018-05-22 02:11] forthrightstl commented on #115
Yessir.

I was able to get it working by pointing to /src/plop.js.

Not sure what the more appropriate approach would be.

On Mon, May 21, 2018, 9:06 PM Andrew Worcester <notifications@github.com>
wrote:

[2018-05-22 02:16] amwmedia commented on #115
Strange. Yes, that's the entry point for the code, but it's weird that `npm install -g plop` didn't take care of it for you

[2018-05-22 09:18] mritzco commented on #33
@amwmedia
Ok, that took a bit longer than expected:

Could you please take a look at this [repo](https://github.com/mritzco/plop-pack-json-modify ) and let me know if that would do.

Original method gets the config on the method call, while the load method passes the config on the require function. It's working with the testing file but I'm not sure it will work properly in all cases.

[2018-06-04 06:55] gabrielcrowe opened #116 "{{{ triple brackets freak out handlebars"
in typescript when i'm adding a controller to my project i find that plop has a wobbly when adding something with thee curlys, for example:

template: '$1\r\nimport {{{properCase noun}}Controller} from \'../endpoint/{{dashCase noun}}\';'
__________________________^

I can cheat this by putting a space after the first curly, but then it looks terribad in the code. Can we disable triples? HTML-escap

[2018-06-04 13:13] amwmedia commented on #116
ah, yes, working with files that need legitimate curly braces can be a little weird because of the clash in template syntax with handlebars. There has been some work toward making plop able to support different template engines, but that is not available at the moment. If you don't like adding some extra space between the curly and text, you can work around this with helpers. For the template you

[2018-06-04 13:13] #116 closed

[2018-06-06 12:33] #115 closed

[2018-06-14 23:16] JustMaier opened #117 "Custom Actions can't add/update answers"
Not sure if this was an intentional change or not, but in the latest version of Plop, you can no longer add to or update the answers object inside of custom actions.

For Example:

[code]

After the custom action is completed, `demo` is undefined in following actions and in templates.

[2018-06-26 20:07] StevenLangbroek opened #118 "Mutate answers in custom action type"
I'm not sure if I'm going about this wrong maybe, but I'm trying to enrich my `answers` object to make my templates a little bit simpler. What I did is create a custom action type called `prepare`. It takes a `prepare` config prop, which mutates the `answers` object it receives (I `Object.assign` the result onto the original `answers`. I know it's not ideal but I'm just trying to make this work fi

[2018-06-26 20:29] StevenLangbroek commented on #118
I'm just looking at the merged PR in `node-plop`, and the easiest solution for my use-case, which I think has general applicability, is to allow `data` to be either an `object`, or a `function` that is called with `data`, so a `thunk` sort of. Thoughts?

[2018-06-29 23:55] amwmedia commented on #118
yeah, I think this is actually a defect that was introduced as called out in #117. I'm going to take a look at this soon, I'm pretty sure it can just be addressed with a bug fix.

I also really like your idea to make the data prop optionally take a function 👍

[2018-06-29 23:57] amwmedia commented on #117
Sorry for the delay in replying here, I agree that this is a defect that should be fixed. I'm going to try to look at it soon, I have a pretty good idea of where the change needs to be made. Also see #118 for another possibly interesting feature that could be used to address this.

[2018-07-09 11:00] fedulovivan opened #120 "Expected version ">=8.9.4""
Hi, there!
Come here on my way to find some lightweight alternative for yeoman, and your project looks quite suitable for this.
No offense, but what is a real reason to depend on a node above v8.9.4? Sorry if this information is already given somewhere.

![oldversion](https://user-images.githubusercontent.com/752105/42446831-6455b872-8380-11e8-8fdb-70c06f2093ab.png)

[2018-07-11 18:30] amwmedia commented on #120
plop version 1.x supported node 4.0 and greater but one of plop's main dependencies (inquirer.js) dropped node 4 support and went to node 6. When that happened, I decided to make plop depend on what was (at the time) the current LTS version of node. That's how plop 2.x came to require node 8.9.4 :slightly_smiling_face:.

Is the dependency on 8.x a problem for you? plop should (in theory) work fine

[2018-07-12 08:24] fedulovivan commented on #120
Thanks for quick reply! Our project is "quite conservative", so we were ought to use node 8.3.0 until recent time. So namely this version was set as default one on our development environment. As a consequence attempt to install plop was failed.

So it might be better to depend on more older version, to prevent such issues for some users.

But, btw, thanks to this issue we arranged some time and u

[2018-07-16 22:38] handonam opened #121 "Asking questions recursively (Repeat questions)"
I was wondering how it would be possible to ask a question repeatedly?

Here are two examples in inquirer.js:
https://github.com/SBoudrias/Inquirer.js/commit/80ec06551d4d71abf17b2163f8399caf41918a76
https://github.com/SBoudrias/Inquirer.js/issues/562

For Inquirer.js, you could create inquirer prompts that would allow you to run a prompt recursively through callbacks.  But, how would we accomplish

[2018-07-17 13:41] amwmedia commented on #121
A function can be supplied in place of the prompts array. The first parameter of the function will be the instance of inquirer that plop is using. The function should return a Promise that resolves with the answers object. You can use this to handle the prompting in any way you like including the use of the inquirer [Reactive Interface](https://github.com/SBoudrias/Inquirer.js/#reactive-interface)

[2018-08-01 10:52] nuri-engin opened #123 "Is it possible use variables on file body itself?"
I just started to use `plop` and it's seems really a very useful library. I've created a bunch of demo-files. It works exactly what I wanted to be; giving name to files, located them under exact related folder/directory.

But there is another feature I need to know if exist or possible to implement. So for example I'm creating several classes through MVC design patter. I'm using a naming-conventio

[2018-08-01 13:45] nuri-engin commented on #123
I've find the solution... any defined `prompts` can effects whole file body as well;

Sample:
[code]

and the `submodule` value can be using anywhere in code-snippets/scaffold

[code]

I loved the `plop`, thanks to all.

[2018-08-01 13:45] #123 closed

[2018-08-02 13:18] nuri-engin opened #124 "Is it possible for API request and write response a variable to be available to use within template files?"
I hope that the title is explain whole situation;

I need something like;

[code]

and then I need to set `myJson` response to variable and using this response of JSON within a `ExtJS` `model` class.

[code]

[2018-08-06 06:45] nuri-engin commented on #124
Hello dear @amwmedia .. Is there any kind of advice you can offer?

[2018-08-06 17:09] amwmedia commented on #124
you can use a [customAction](https://plopjs.com/documentation/#custom-action-function-) function to make the request and augment the answer data for the rest of the actions to use. This approach is currently broken, but should be fixed in the next version of plop which I'm getting ready to push out.

I am also pushing a change to the `data` property on all [actionConfig](https://plopjs.com/documen

[2018-08-08 18:25] handonam opened #125 "Adding custom messaging during action steps"
I wanted to try to add documentation for my new developers to explain what files are being added/modified during the action step. What i'm looking to have is this:

[code]

I was attempting to use the customActions for this, but it would print messages like this:
[code]

Any thoughts on what I could do here?

[2018-08-09 12:08] lucasowens opened #126 "Handlebar variable scope within a loop."
I am using the `inquirer-recursive` plugin to create an array of objects that looks something like this:
[code]

 With that I am using a Handlebars loop to print a partial that looks something like this:

[code]
The partial looks something like this:

[code]
This all works except `{{../name}}` doesn't render anything. It seems that Handlebars can't access the parent scope. The `../` came directly

[2018-08-09 14:02] lucasowens commented on #118
Any updates on this fix?

[2018-08-09 19:04] amwmedia commented on #118
this is fixed in [v2.1.0](https://github.com/amwmedia/plop/releases/tag/v2.1.0), released this morning.

[2018-08-09 19:04] #118 closed

[2018-08-09 19:06] amwmedia commented on #125
I think at the very least, it would make sense to remove the `function` prefix that gets added to the customActionFunction message. 👍

[2018-08-09 19:06] #124 closed

[2018-08-09 19:07] amwmedia commented on #117
this is fixed in [v2.1.0](https://github.com/amwmedia/plop/releases/tag/v2.1.0), released this morning.

[2018-08-09 19:07] #117 closed

[2018-08-09 19:13] amwmedia commented on #126
From the documentation, I'm not sure if this is expected to work with partials or not. I've honestly not used partials much, but if there's a change we can make that would allow plop to support this, I'm all for it.

Do you know if you are able to reproduce the issue with handlebars directly?

[2018-08-09 19:55] JustMaier commented on #117
Awesome thanks @amwmedia!

[2018-08-10 11:25] lucasowens commented on #126
That is a great question, I made an assumption there. I will try it out as soon as I get a chance. Thanks for the quick reply!

[2018-08-10 17:05] hamzazaidi commented on #125
@amwmedia I am going  to take a look into this.

[2018-08-12 16:23] williamdclt opened #129 "Executable files as template"
I'm trying to use Plop to generate projects, containing executable files (eg python scripts). When running Plop, the output files do not have the "executable" permission.

So I have a few questions:
- Is it a bug or a feature?
- Would a PR be welcome?
- If so, any hint on where that should be handled?

Cheers!

[2018-08-13 15:15] r3dlin3 opened #130 "Cannot share ActionType between modules"
Hi,

I have beginning to split different generators in different files for maintainability.
Is there a way to share an action type?

For instance, I have the following `plopfile.js`:
[code]

inside myfile.js:
[code]

It generates an error:
[code]

[2018-08-14 13:55] amwmedia commented on #130
Yes, you can share custom actions using [`plop.load()`](https://github.com/amwmedia/plop/blob/master/plop-load.md). In your example, are you trying to "push" the actions into the plopfile with the load method? If so, that's your problem. plop.load will "pull" assets into the current plopfile.

### example
`actionTypes.js`
[code]

`plopfile.js`
[code]

[2018-08-14 14:02] amwmedia commented on #129
I'm not sure if this is something that plop should handle automatically for security reasons. You should, however, be able to build it into your generator using a [custom action function](https://plopjs.com/documentation/#custom-action-function-) and the [fs.chmod](https://nodejs.org/api/fs.html#fs_fs_chmod_path_mode_callback) function.

[2018-08-14 15:15] amwmedia commented on #125
You know, I was just thinking... what if we added the ability to just put strings into the actions array? So a list of actions could include strings instead of objects that would be pushed to the screen as the actions are run. That could provide some valuable documentation for what new new files are and how to they should be used.

[2018-08-14 15:47] hamzazaidi commented on #125
I think it is a great idea, description property can be added to explain the purpose of the action.
If description property is added what is going to be the default where the property is specified.

[2018-08-14 18:40] williamdclt commented on #129
I'm far from being an expert on security matters, but I don't see what kind of security issue could happen, do you have an example?

A custom action is a good idea, but this action would have to re-implement the whole logic of `addMany`  and add the "keep the executable flag" logic. I'll try and find an alternative

Thank you for the pointer to `fs.chmod`, will definitely be useful :)

[2018-08-15 14:00] r3dlin3 commented on #130
Thanks for your answer. I have ended up with the following files so I can share `myactiontype` among my loaded generators:

`actionTypes.js`
[code]
`myfile.js:`
[code]

`plopfile.js`

[code]

Does it seem fine?

[2018-08-15 14:52] amwmedia commented on #129
you could use the `add` or `addMany` to generate the file and a customAction to change the permissions.

The more I think about this, the less I'm concerned about the security aspect. I suppose if the template has execute permissions, it would be logical the those permissions would be transferred to the generated files as well. 🤔

[2018-08-15 14:54] amwmedia commented on #130
I think that seems logical. It certainly makes your plopfile lightweight!

[2018-08-15 14:55] amwmedia commented on #130
you also have the option of deploying your actionTypes and/or generators to npm and loading them into multiple projects.

[2018-08-22 14:37] #130 closed

[2018-08-27 13:38] nuri-engin opened #131 "How to implement `autocomplete` feature to `PLOP`?"
Hi there;

There is a `Autocomplete` `prompt` for `inquirer`. How can I implement this feature to `plop` itself?
And could you please give an example on here or documentation for implementing `autocomplete` feature?

Thanks in advance. @amwmedia

Here is repostiory: https://github.com/mokkabonna/inquirer-autocomplete-prompt

[2018-08-27 14:31] amwmedia commented on #131
You should be able to do this using the [`plop.setPrompt()` method](https://plopjs.com/documentation/#setprompt). This works just like the `registerPrompt()` method that's built into inquirer.

[2018-08-28 10:36] nuri-engin commented on #131
Here I've tried to set `autocomplete` feature with `setPrompt` but couldn't be success!

I've installed `inquirer-autocomplete-prompt` with this `npm` command:
`npm install -g --save inquirer-autocomplete-prompt` and the package locates under `node-modules` folder.

Then refactored `plopfile.js` as;

[code]
but it gives this error when I choose the `generator`:
[code]

What I'm missing here? Thank

[2018-08-28 11:56] amwmedia commented on #131
Just judging from the error, it looks like the package wants `source` to be a function. Maybe take a closer look at the documentation to see what it is expecting.

[2018-08-28 14:13] amwmedia commented on #131
just looked at the [documentation](https://github.com/mokkabonna/inquirer-autocomplete-prompt#options) for `source`. Looks like it needs to be a function that returns a promise.

[2018-08-28 14:13] #131 closed

[2018-09-02 00:59] reconbot opened #132 "Adding custom data"
Is it possible to have an action, or a "proptless prompt" that can execute a function and provide data for the action's templates? For example, I'd like to provide the current year to templates referneced in an `addMany`.

Thanks!

[2018-09-04 21:36] williamdclt commented on #132
You can write your action as an array or a function that takes the data and returns an array. In the second case you can mutate the data to add whatever you want

In your case:

[code]

[2018-09-04 21:41] williamdclt commented on #125
I'd need something like that too, and a custom action fits my needs (I just skip a line for a bit more clarity). My problem is that some of my action take a while to finish but all the logging is batched to the end. That means that the user has no feedback of anything that's happening until all actions have finished, is there a way around that?

[2018-09-11 14:35] forthrightstl opened #134 "[ERROR] Prompt is not a constructor"
codesplitting my prompts and using them to compose generators.

**prompt.js**
[code]

**generator.js**
[code]

**plopfile.js**
[code]

After selecting the generator,  I get the following error:

` [ERROR] Prompt is not a constructor`

[2018-09-11 17:33] #134 closed

[2018-09-12 13:08] amwmedia commented on #125
Thanks for the input. Sorry for the delay, I've been out of town for the last week.

I'd be open to either option here. I'm a little partial to the callback approach because it's very simple to understand, though I agree with your sentiment that _this is kind of what generators are designed to do_. I would only be concerned that the resulting code might not be quite as maintainable, but I'm willin

[2018-09-12 13:15] amwmedia commented on #132
Another possibility is to use the `data` property that is available on any [`actionConfig` object](https://plopjs.com/documentation/#interface-actionconfig)

The solution @williamdclt gave may work better if you have more complex needs because it allows for arbitrary logic.

[2018-09-12 13:15] #132 closed

[2018-09-14 18:12] gregglind commented on #125
Templating from `answers` would be nice to have.  I solved it this way:

[code]

Pure strings are also nice.  Perhaps pure strings could always be assumed to run through plot.renderString?

[2018-09-21 20:20] amwmedia commented on #125
Great call out! I'll definitely make sure that's added in.

[2018-09-26 18:06] etatarevic opened #136 "Setting --plopfile and --cwd doesn't forward the cwd"
Correct me if I am wrong here, but if I try to run something like
`plop --plopfile 'LOCATION' --cwd 'CURR_LOCATION'`
the current working location does not get passed along to node-plop.

Around line 68 in plop.js it should pass "force" and "destBasePath" into the nodePlop constructor.

It should look something like this
`// set the default base path to the plopfile directory
	const plop = nodePlop

[2018-09-27 02:49] amwmedia commented on #136
Interesting idea. I never intended for the cwd to be used as the destination path. Plop has always used the location of the plopfile as the base path for all generated files and locating templates. I can see why the presence of the cwd arg would lead you that direction though.

Can you provide a description of how you would envision this working? Do you want to generate code based on where you are

[2018-09-27 14:38] etatarevic commented on #136
The reason I needed this is I want plop to write the necessary files to where the command was ran from while finding the plopfile in a completely different place.

This is so that our users can install the plop generator repo once, globally, and then run a command from anywhere and plop will put all the files it needs to in the path that they ran the command from.

[2018-09-28 13:56] amwmedia commented on #136
So, 2 things that I think could help you.

1. [`plop.load()`](https://github.com/amwmedia/plop/blob/master/plop-load.md) allows you to pull assets (generators, helpers, etc) from another plopfile by path OR via an NPM package (installed globally or locally).
2. you can [create a helper](https://github.com/amwmedia/plop/issues/68) that accesses the `cwd` and use it when defining paths for your file

[2018-09-28 13:57] amwmedia commented on #136
but what you are describing sounds more inline with what we are planning to do with [project scaffolding](https://github.com/amwmedia/plop/issues/51).

[2018-09-28 14:55] etatarevic commented on #136
I'll look into that, but I am curious, why not implement the nodePlop constructor fully with force parameter and destBasePath parameter?

[2018-09-28 15:51] amwmedia commented on #136
`force` works as expected, however `cwd` is a bit of a weird one because "current working directory" does exactly mean "target directory". I can understand why there was confusion about it, and honestly the `cwd` prop should probably have not been added in the first place because it's unclear what it would do.

It does seem that there's a desire to have generators that use the current working dire

[2018-10-02 19:22] pdehaan opened #137 "Best way to create a wizard using plop and npm init?"
We're trying to create a wizard for creating new modules (similar to create-react-app) but I'm a bit confused how to best use plop.

Our ideal flow would be something like <kbd>$ npm init foo</kbd> which would invoke the **create-foo** module in npm, but I'm struggling to see how we can use **plop** and/or **node-plop**.

We have a prototype which uses plop, but it is invoking plop via Bash (which

[2018-10-03 20:33] matthosch opened #138 "addMany not recognizing .* files in templateFiles directory"
Current when using addMany with a directory, it only pulls in non-hidden files. I can run a second action on the same directory passing `tempateFiles: "directory/.*"` to find .files. Is there a way to pull in all files in a single pass?

[2018-10-03 20:48] matthosch opened #139 "addMany not passing data to templates"
If I call `add`, passing path and templateFile, the data is passed into the handlebars templates. However, if I call `addMany` the handlebars templates are rendered empty, even specifically passing in a data object. [Example gist](https://gist.github.com/matthosch/4365925351537c68fdc0595c415581ca
).

[2018-10-04 13:46] matthosch commented on #139
Found and resolved issue, not passing correct data reference in template.

[2018-10-04 13:46] #139 closed

[2018-10-04 15:48] amwmedia commented on #137
Yes, it looks like you've pretty much landed on the solution. If you want to use `plop` instead of `node-plop` it would be possible by mutating `process.argv` to be what `plop` would expect, and then using `require('plop')` to kick of the execution. I've seen other people use this method to basically create a project scaffolder that uses `plop` behind the scenes.

Using `node-plop` is the more cor

[2018-10-04 15:51] amwmedia commented on #138
Believe [this is what you're looking for](https://github.com/amwmedia/plop/issues/114).

[2018-10-04 15:51] #138 closed

[2018-10-04 18:28] forthrightstl commented on #134
I was looking to set named prompts and  conditionally load prompts based on the input of a previous prompt. From what I gathered in the docs for Inquirer, this would require some additional effort for keeping a state and render logic.

I did end up creating functions that output a prompt object so they're somewhat configurable, just not to the level that I initially conceived.

[2018-10-09 09:56] yannvr commented on #61
Used at [weshop](https://weshop.co.uk) to handle styled-components/MUI components along with story and test

[2018-10-10 08:31] yannvr opened #140 "WelcomeMessage not displaying"
Using version 2.1.0
Given the plopfile:
[code]
The welcome message will not display. This happens to me as well when I have a generator.
It's strange because the plop example seems to work but I've never managed to get it working on my own plopfiles :(

[2018-10-10 08:37] yannvr opened #141 "[Documentation] Enquirer prompt types not obvious"
It took me ages before realising Enquirer prompt types were supported out of the box because nothing in the documentation mentions it.
I think this is one of the first thing users will need help with when using plop.

I'm happy to help providing examples or amending the README. I think users should be aware of prompt types as listed on https://github.com/SBoudrias/Inquirer.js/#prompt

Do you agree

[2018-10-12 17:17] amwmedia commented on #140
If you have only 1 generator, the welcome message is skipped and you are sent right into the only generator available. Sounds like this might be what you're seeing?

[2018-10-12 17:20] amwmedia commented on #141
I think it might make a lot of sense to have a section of the documentation for "Prompts" that explains that inquirer is used to handle the prompts and a link over to the inquirer documentation for question types. I'd prefer not to duplicate the documentation, but rather explain the linkage.

Thoughts?

[2018-10-16 17:49] gregglind commented on #141
+1 for even a link to that doc.

All prompt types are described at Inquirer.

[2018-10-16 18:22] yannvr commented on #141
I agree Andrew. A link and a general description about the available input
types would do. I'd say very early in readme before API details

On 16 Oct 2018 18:51, "Gregg Lind" <notifications@github.com> wrote:

+1 for even a link to that doc.

All prompt types are described at Inquirer.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https

[2018-10-17 13:36] amwmedia commented on #140
I agree. I think the welcome message should show if it's specified. This was more of a consequence than a conscious decision. It came out of a request to [automatically launch the generator if there is only one available](https://github.com/amwmedia/plop/issues/67).

However, if someone added their own welcome message... it should be shown regardless of how many generators there are.

[2018-10-27 02:54] david1602 opened #142 "Any way to insert quotes?"
I'm trying to determine additional data in the action function, and I'm stringifying it into the data object. The data reaches the template too.
However, all sorts of quotes, so
[code]

all are escaped with the likes of &#x60 and &#x27 for example. Are there any quick ways built into plop to avoid the escaping?

[2018-10-27 02:56] david1602 commented on #142
Nevermind, I should have really spent more time googling.
I was looking for an issue with plop, but it's actually handlebars.
Using `{{{}}}` instead of `{{}}` solved the problem, in case anyone stumbles upon this issue.

[2018-10-27 02:56] #142 closed

[2018-11-08 20:59] aakreidler commented on #51
Any updates on this?

[2018-11-26 12:39] feimosi opened #143 "TypeScript typings"
Plop is a great tool already, but do you consider adding TypeScript typings? I've noticed `node-plop` has them, but they're not being exported so I can't reuse them in my code. Also, they differ a little bit from this CLI.

In case anyone needs a temporary solution, here's a simple `.d.ts`:

[code]

[2018-11-26 18:22] pdehaan opened #144 "Errors when trying to copy over .circleci/config.yml file"
In our repo, we're trying to build a CLI wizard which we can use with `npx` to quickly scaffold new projects. One issue we recently came across was when trying to copy over a [.circleci/ folder w/ a config.yml file](https://github.com/mozilla/create-shield-study/blob/ecf131bd86993a7bcdd836343bd09094e20c1d4b/templates/shield-study/.circleci/config.yml#L20), it throws errors because of the "checksum

[2018-11-27 14:17] bizoo commented on #103
This feature would be really useful.

I have to change encoding of all added files to win1252, so I've created a convert action to do the the job but I've to call it after each add action (dozen of files).
With this feature I can create a new addConvert action that call the add and convert actions by itself.

Or is it possible to check the return value of the function defined by setActionType and

[2018-11-29 15:36] jonschlinkert commented on #141
Fwiw, just wanted to mention that [Enquirer v2.0 was released](https://github.com/enquirer/enquirer/) after this issue was created. It was a complete refactor from the ground up.

[2018-12-05 14:01] amwmedia commented on #143
If you'd like to submit a PR, I'd be open to adding them. I don't currently have a lot of TypeScript experience, so I'm not sure of the best way to provide these in a usable way. Sounds like it might be as simple as a `.d.ts` file and a line or 2 in the documentation. 👍

[2018-12-09 22:39] yannvr commented on #141
+1 for integrating that sexy Enquirer 2.0 then :)

Yann

On Thu, 29 Nov 2018 at 15:36, Jon Schlinkert <notifications@github.com>
wrote:

[2018-12-11 20:50] pdehaan commented on #144
Awesome, thanks! It works. Closing.

[2018-12-11 20:50] #144 closed

[2018-12-14 18:17] amwmedia commented on #141
docs update [is live](https://plopjs.com/documentation/#using-prompts)

[2018-12-14 18:17] #141 closed

[2018-12-14 18:18] #137 closed

[2018-12-14 18:49] #136 closed

[2018-12-14 18:51] amwmedia commented on #129
released in version 2.2.0

[2018-12-14 18:51] #129 closed

[2018-12-14 18:52] amwmedia commented on #125
[released](https://plopjs.com/documentation/#comments) in v2.2.0

[2018-12-14 18:52] #125 closed

[2018-12-14 18:52] #61 closed

[2018-12-14 18:53] #120 closed

[2018-12-14 21:01] crutchcorn commented on #143
I'll set a reminder for myself to take a look at this this weekend

[2018-12-17 15:54] feimosi commented on #143
@crutchcorn thanks for taking this over. I've been pretty busy lately

[2018-12-31 16:45] crutchcorn commented on #143
Sorry folks, meant to get to this sooner. I won't have a ton of time to look at it for a few days (spending time with family), but I've done a bit of look into this.

Keep in mind that the definitions are currently in `node-plop`, so I'm not sure how we want to go about tracking these issues.

Progress I've made thus far is found here:
https://github.com/crutchcorn/node-plop/commit/9b13d3df60314ee

[2019-01-02 22:31] crutchcorn commented on #143
I've opened ammwmedia/node-plop#97 as a continuation to what I've found. Once this PR is handled, I'll move forward with the work to expose these typings in `plop` itself and add some docs on their usefulness/etc

[2019-01-12 06:20] aminimalanimal opened #145 "Data passed to template does not update per action in array"
I'm prompting the user to write a comma-separated list of components to generate, parsing them into an array, then pushing to the actions array with the name of the component specified in the data parameter. All of these components use the same template, and I'm relying on the data I'm changing to differentiate them. Unfortunately, the data doesn't seem to be updated when it is passed to the next

[2019-01-13 18:23] VladimirHumeniuk opened #146 "Plop without CLI or global installation"
Is it possible to run plop generators without CLI? For example, i want to create my own cli with plop for generate files, and i can't ask my users to install Plop as global dependency.

Is it possible, to run generator without having installed plop in global? Or maybe i can just import Plop to my own js files as module, and run it in this way?

Thanks.

[2019-01-14 01:16] indrekpaas commented on #146
Hi @VladimirHumeniuk, I experienced a similar issue recently where I wanted to run plop generators with `npx` instead of having to install them globally first.

I'll share my basic setup, which should be easy to adjust to every need.

## Project structure

[code]

### `package.json`

* Add `plop` dependency.
* Add `bin` field and point it to `index.js`. This file will be executed when the project

[2019-01-14 14:17] amwmedia commented on #146
Yes, you have 2 options here.

1. **The easy way:** You can use plop directly by altering argv before using `require()` to start it up. Others have used [this method](https://github.com/amwmedia/plop/issues/137) previously.
2. **The in-depth way:** You can use [node-plop](https://github.com/amwmedia/node-plop) to really customize the experience. Node-plop is what does all the work under the covers

[2019-01-14 14:39] amwmedia commented on #145
yeah, I agree, this is confusing. The `data` attribute should override, but currently it can only add new props. I'm going to mark this as a bug. As a workaround you should be able to use a function in place of your data object and set the value on the answer object directly inside that function.

example:
[code]

[2019-01-14 16:43] #146 closed

[2019-01-24 22:38] amwmedia commented on #143
Thanks for all your work on this. My apologies for the delay in my end. I seem to get sporadic chunks of time to work on plop.

[2019-01-24 22:39] crutchcorn commented on #143
No worries at all, I totally understand time restraints. Hopefully I haven't been spamming your notifications too hard, just trying to keep communication open and clear.

[2019-01-26 06:19] crutchcorn commented on #143
Actually, @amwmedia - could we get an updated version of `node-plop` up on `npm` with the updated typings so that I can rely on that version of `node-plop`  to export some typings in the `plop` package?

[2019-02-17 01:34] marcelmokos opened #321 "Support for different embedded templates (like `ejs`)"
Can I work on a PR that would add an option to change templating language from `handlebars` to `ejs` possibly other templating languages?

I am a user of `plop` ❤️ on many projects but I feel limited by `handlebars` templates and helpers. I would prefer to use Javascript as `ejs` allows.
- https://github.com/mde/ejs

I do not want to create a similar library with different templating language when

[2019-02-17 09:36] marcelmokos commented on #10
If you need any help I am willing to help with the change.
I had a similar idea and I opened issue yesterday in `node-plop` https://github.com/amwmedia/node-plop/issues/101.

Now I see that it is duplicate and I really want to introduce this change.

[2019-02-18 18:31] benmvp commented on #10
I'm in favor of you taking it over @marcelmokos!

[2019-02-19 01:46] amwmedia commented on #143
this was updated and pushed out to npm 👍

[2019-02-19 01:54] crutchcorn commented on #143
I still need to export the typings from the main `plop` package and write some docs. I'll go ahead and do that now :)

[2019-02-19 01:58] amwmedia commented on #143
Ah, I'll re-open till that work is complete. Thanks for your help on this. I am, admittedly, not a TypeScript expert.

[2019-02-19 14:01] VincentLanglet opened #148 "Document the use of ES6 syntax"
When I'm using
[code]

For the file
[code]

I get the error
[code]

And of course it works fine with
[code]

How can we use the ES6 syntax ? There is no doc about it, I think adding one could be useful.
I don't know if it's changing something but I'm using a `create-react-app` project, so I can't modify my babel config without ejecting...

[2019-02-19 14:25] amwmedia commented on #148
Because plop runs in nodejs and not in the browser, it relies on the capabilities of the node runtime. Currently, es modules are not supported in node directly. If you want to use them, you'll need something like [`esm`](https://www.npmjs.com/package/esm). Otherwise, you'll need to use `require()` and `module.exports` for your node code, including the plopfile.

[2019-02-19 14:32] VincentLanglet commented on #148
@amwmedia Thanks for your fast answer.
Do you know how to use `esm` with `plop` ?

I thought the `require` option was here for that. But with the `export default` and:
[code]
I get
[code]

[2019-02-19 14:50] amwmedia commented on #148
honestly, I've never tried to get this working. When I'm working in nodejs, I'm accustomed to using these types of conventions. If you're interested in digging deeper and figuring out how to allow plopfiles to work with either syntax, I'd certainly be open to changes within plop to accommodate.

[2019-02-19 15:39] VincentLanglet commented on #148
After a little debug and some tests, I found a solution:

index.js
[code]

generetors.js
[code]

[2019-02-19 15:44] #148 closed

[2019-02-21 20:00] augurone opened #149 "When + Confirm not returning Booelan"
[code]
With this setup `functionalComponent` returns a boolean and `componentClass` returns the entered string instead of a boolean e.g. 'y' or 'n'. It makes for some ugly code to validate all the possible responses here.

[2019-02-21 20:09] amwfl commented on #149
in your second prompt, you have the type as `comfirm` instead of `confirm` 😉. I believe inquirer is defaulting you to a type of `input`.

[2019-02-21 20:13] augurone commented on #149
Thank you!

[2019-02-21 20:14] #149 closed

[2019-02-25 14:31] amwmedia commented on #145
I've been looking at this due to @apurvaojas posting this issue on [node-plop as well](https://github.com/amwmedia/node-plop/issues/89) and I have 2 possible solutions that I'd like to get feedback on.

1. Attach `data` to the answer data under a `.data` property instead of mixing the data in.
2. Mix `data` into the main answer data and always override anything that overlaps.

both of these option

[2019-02-25 15:17] amwmedia commented on #145
the more I'm thinking about this, the more I'm leaning toward a `data` property that can be accessed by the template.

[2019-02-26 06:59] aminimalanimal commented on #145
Both of them seem like decent solutions.

Some brainstorming:
- I wonder if #1 would cause the need to read or write to `data.data` in the `data` method of an `actions` object. The current documentation does name the answer-data `data` when you pass it into the `actions` method, and if someone were to do something like you showed me above, you might end up in that somewhat awkward position.
- I'm

[2019-02-26 14:39] amwmedia commented on #145
While reading your brainstorming points above, I came up with an option 3 that checks all the boxes. We can add some logic to "clean up" any attributes that were added by the `data` object after the action completes. I actually don't think this even breaks the existing contract because don't believe that there was any expectation that the values provided in the `data` prop should persist to future

[2019-02-26 14:58] apurvaojas commented on #145
There is a [test case](https://github.com/amwmedia/node-plop/blob/master/tests/custom-data-in-actions.ava.js#L24) in `node-plop` which expect `data` prop to persist in future actions.

If this is a bug then [this solution](https://github.com/amwmedia/node-plop/pull/102#issuecomment-466739364) can work.

[2019-02-26 15:00] Akiyamka commented on #56
Can anyone provide example of use inquirer-recursive in plop?